[2015-03-25 11:16] Gorneman opened #5 "404 error with "ask a question" module"
Hi, I've installed latest version and have a problem with this module.
https://www.prestashop.com/forums/topic/349333-module-gratuit-poser-une-question-sur-produit-captcha-1516/
when i click on "ask a question " button (link: http://www.mkup.it/module/okom_moreinfo/default?id_product=21&content_only=1&n=1) open a 404 error window frame.

[2015-03-25 11:27] ZiZuu-store commented on #5
Hi,
  having a quick look to your site it seems every URL with "module" is giving 404 /see the wishlist module for example ..

How you configured your routing?
What PS version are you running?

[2015-03-25 11:59] Gorneman commented on #5
prestashop 1.6.0.14

[2015-03-25 12:01] Gorneman commented on #5
![routing](https://cloud.githubusercontent.com/assets/9078451/6824084/08194640-d2ef-11e4-9de0-807597b42939.jpg)

[2015-03-25 12:17] ZiZuu-store commented on #5
@Gorneman Sorry Domenico, we are still working to make the module work at best on PS 1.6.0.9 ..
Unfortunately we decided to maintain and go deeper in this module only a few days ago and there was a lot of idiosyncrasies in the code we are going to remove or rewrite.

I'm going to release a v0.8.1 in a few hours .. don't think it will solve, but you'll can test it ..  as we hardly want to make the

[2015-03-25 12:51] Gorneman commented on #5
Thanks for your work, Prestashop SEF urls are ugly and little useful. This module should be integrated in the core. i'll test new version.

[2015-03-25 14:51] ZiZuu-store commented on #5
v0.8.1 is out .. plz try asap thank you

[2015-03-25 15:50] Gorneman commented on #5
tested, same problem. Keep up the work. Thanks for the support and if you need, I can do some tests.

[2015-03-25 16:05] ZiZuu-store commented on #5
Ok. Unfortunately  it was the expected behaviour ..

The problem is a change in the regex into the Dispatcher made by PS in versione 1.6.0.11 .. we received a pull request that "solved" the issue .. but overriding the Dispatcher to restore the old-regex is not a solution

We are going deeper into the code to understand how to make the module behave well .. the proble should be with the "?" in the

[2015-03-25 16:52] ZiZuu-store commented on #5
@Gorneman  Hi Domenico,

can you plz try the currend code? I'm confident it should have been fixed now ..

https://github.com/ZiZuu-store/PrestaShop_module-CleanURLs/archive/ZiZuu-CleanURLs.zip

If you confirm it works I'll release v0.9 shortly

[2015-03-26 11:31] Gorneman commented on #5
Installed and problem gone!Thanks

[2015-03-26 11:37] ZiZuu-store commented on #5
:) very well .. going to release a new version in a few hours

Thank you

[2015-03-26 11:38] #5 closed

[2015-07-30 19:50] svensson-david opened #6 "Issues with Link->getCategoryLink"
I was having some issues with the overridden Link class when calling getCategoryLink in multiple places on a page. In my case a footer and a header menu.

The problem was that the category links wound up missing the parent category slug the second time the getCategoryLink-function was called.

It seems the problem was that the category_disable_rewrite-array built itself larger and larger on each r

[2015-07-31 14:58] ZiZuu-store commented on #6
Hi @svensson-david,
  yes please fork and test if it works in any case for your store .. so I can merge

Thanks

[2015-07-31 17:14] ZiZuu-store commented on #6
please try the current dev

[2015-08-01 18:32] svensson-david commented on #6
Will do!
I'm out traveling until next weekend but will check as soon as possible after that.

[2015-08-07 14:39] ebinx opened #7 "categories: {rewrite}/"
I'd like to be able to "mark" all category friendly urls with a preceding "c/" (which stands for category) to achieve category URLs such as:
example.com/c/shirts
example.com/c/trousers

I tried to put
[code]
into a friendly URL field for category path, but it did not work.

How can I get category URL's in a format  "c/{rewrite}/"?

[2015-08-07 21:01] ZiZuu-store commented on #7
Hello @ebinx

  **c/{rewrite:/}**  should work

[2015-08-24 11:40] ZiZuu-store commented on #6
@svensson-david any news?

[2015-08-24 11:41] ZiZuu-store commented on #7
@ebinx did it work?

[2015-08-24 23:09] ebinx commented on #7
It didn't work (PS 1.6.1.0)

[2015-08-24 23:44] ebinx commented on #7
OK fixed it.
In override/classes/Dispatcher.php there is a function "isCategoryLink". All I did was to change an array item number from 0 to 1.
from:
`WHERE `link_rewrite` = \''.pSQL($categories[0]).'\' AND `id_lang` = '.(int)Context::getContext()->language->id;`
to:
`WHERE `link_rewrite` = \''.pSQL($categories[1]).'\' AND `id_lang` = '.(int)Context::getContext()->language->id;`

[2015-08-25 07:50] ZiZuu-store commented on #7
uhm .. do you have an idea of the reason?

I think this trick should not be the solution (even if it works) .. we shall investigate the root reason .. I guess that if you remove the "/c" prefix and leave the hack there it will not work again

I'll change this issue into a bug to be fixed

[2015-08-25 09:52] ZiZuu-store commented on #7
@ebinx please try the current dev Dispatcher.php

[2015-08-25 10:10] ebinx commented on #7
I'll try new dev when I get back home. What I did was a quick solution to
my needs and not a fix. I realised dispatcher.php after exploding url was
looking for the 1st [0]item in array, and when it found my "c" it could not
find corresponding category in db...

wt., 25 sie 2015, 11:52 ZiZuu.com użytkownik <notifications@github.com>
napisał:

[2015-08-25 10:42] ZiZuu-store commented on #7
@ebinx ok thank you.

Please note I was not pointing out your fix was not good .. if I did so my apologies .. my bad (english :P)

The current dev should fix, but I'm planning to do a better rewrite of the entire logic asap

Thank you for your help, looking forward for your feedback as soon as you have tested .. thanks again

[2015-08-25 22:28] ebinx commented on #7
Current dev works like a charm :+1:
grazzie mile!

[2015-08-26 07:40] ZiZuu-store commented on #7
:+1:

Prego :)

[2015-08-26 07:40] #7 closed

[2015-08-26 07:48] ZiZuu-store opened #8 "Handle modules' controllers"
**If a module has a its own controller/action the current release does not handle it.**

This makes the module unable to work with "advanced" modules such as **blogs**

[2015-08-26 07:49] ZiZuu-store opened #9 "Code refactoring"
Current code can be refactored and simplified.  No new feature, just a cleanup/optimization.

[2015-08-26 07:50] ZiZuu-store commented on #6
I'm confident the fix is ok .. if any issue please report here (will leave this issue unlocked)

[2015-08-26 07:50] #6 closed

[2015-08-26 08:51] ZiZuu-store opened #11 "Add support for redirecting old id-URL"
review and implement something like [this old commit](https://github.com/ZiZuu-store/PrestaShop_module-zzCleanURLs/commit/c4b696fc9)

- redirect products
- redirect categories
- redirect manufacturers
- redirect suppliers

[2015-09-04 16:22] 91Abdullah opened #13 "Not Working with Login - 404 Error"
When click on sign in it displays 404 error unless we remove ?back-my-account from URL http://127.0.0.1:8088/prestashop/en/login?back=my-account

[2015-09-04 21:33] ZiZuu-store commented on #13
Hi, thanks for reporting.
Please provide more info to try to reproduce

- PS version
- module version/branch
- languages/shops configuration

[2015-09-05 06:58] 91Abdullah commented on #13
PrestaShop version: 1.6.0.14
Module version: Release 0.10.0 (stable)
Languages: 2 (en/ur) | {ur = Urdu}
Shop: 1 (no multishop)

[2015-09-05 09:40] 91Abdullah commented on #13
Sorry for inconvenience. Module is working correctly, I wrongly installed forked version! Sorry for inconvenience once again.

Thanks for such a nice contribution (Y)

[2015-09-05 09:40] 91Abdullah commented on #13
Closing.

[2015-09-05 09:40] #13 closed

[2015-09-05 14:26] ZiZuu-store commented on #13
:) have a nice WE

[2015-09-19 18:41] mantasl opened #15 "Pagination"
Hey, have you checked pagination? I found an issue when using this clean url module pagination is wrong. For example, im in A category where I could see: 34 products. Default pagination - 12 products/page. On second page I see only 11 products and on 3rd page - i can open it but nothing here. Any solution?

[2015-09-19 21:30] ZiZuu-store commented on #15
What version of PS, whar bersion of the module, any other info?

Of course pagination should habe nothing to do with id removal .. so plz
provide more info in orther to argue what is the problem in your scenario

Il sabato 19 settembre 2015, mantasl <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2015-09-20 09:30] ZiZuu-store commented on #15
Plz tell me a real world URL I can inspect too

[2015-09-20 09:43] mantasl commented on #15
Hey, man,

sorry, I could answer you right now.

Module version: latest. I have reuploaded all files a day ago.

Check this live URL: http://imuperku.lt/auto/aksesuarai-ir-priedai/?p=2

Sorry for language. But you can see that in this category 34 products. But
in second page I can see only 11 products. Sum = 23 products and 3rd page -
blank.

Thanks for any help man!

2015-09-20 12:30 GMT+03:00 Zi

[2015-09-20 09:47] ZiZuu-store commented on #15
What you mean with latest?
Downloaded the zip from github?

Plz gimme your PS version and any other meaningful info

Tnx

[2015-09-20 09:48] mantasl commented on #15
Latest: yes I downloaded all files and reuploaded to override folder. Old
files replacted to new.

My PS version: 1.6.14

What other information do you need? I gave you url with example, could you
check this? What other information could I give you?

2015-09-20 12:47 GMT+03:00 ZiZuu.com <notifications@github.com>:

[2015-09-22 10:46] ZiZuu-store commented on #15
What theme are you using? .. pagination should be handled by the theme ..

Can't argue how ID removal could apply .. btw, I'm going to take a look to your link

[2015-09-22 10:52] ZiZuu-store commented on #15
Pagination seems not to be the root problem in your site:
http://imuperku.lt/auto/aksesuarai-ir-priedai/?id_category=87&n=34  -> only 23 products displayed

http://imuperku.lt/auto/aksesuarai-ir-priedai/?id_category=87&n=60  -> 23 products displayed even if 60 per page is selected ..

AFAICS my module should have nothing to do with this behaviour ...

Removing it makes other products appear? .. pl

[2015-09-23 14:35] #8 closed

[2015-09-23 21:18] ZiZuu-store commented on #15
@mantasl plz try the new release ..

Going to close if no news ..

[2015-09-24 07:08] mantasl commented on #15
Hey, ZiZu,

after classess override Link n dispatcher I got 404 error when I visit
category page.

I reuploaded a new files from GitHub.

2015-09-24 0:18 GMT+03:00 ZiZuu.com <notifications@github.com>:

[2015-09-24 07:44] ZiZuu-store commented on #15
I don't understand .. please join me on chat at https://gitter.im/ZiZuu-store/zzCleanURLs

[2015-10-01 21:10] ZiZuu-store commented on #15
No feedback given ... Can't reproduce

Closing

[2015-10-01 21:10] #15 closed

[2015-10-31 00:48] devdesco-ceo opened #20 "Route to CMS category gives 404 error"
Using it with PS 1.6.1.2. Everything works just fine, as I see, but the "Route to CMS category" with suggested "info/{rewrite}/" gives 404 error on all CMS category links. Please look into this issue!!!

[2015-10-31 07:00] ZiZuu-store commented on #20
Hi,
 thank you for your report. Will inspect and fix as soon as possible

[2015-11-02 20:41] ZiZuu-store commented on #20
@devdesco-ceo can you confirm that on PS <1.6.1.2 it was working fine?!

[2015-11-03 00:00] devdesco-ceo commented on #20
I just started developing under 1.6.1.2

[2015-11-10 11:29] ZiZuu-store commented on #20
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;26aQEvx8&#x2F;4-test"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> test</a>

[2015-11-13 10:42] ZiZuu-store commented on #20
@devdesco-ceo fixed on **release 1.0.1**

Thank you for your contribution

[2015-11-13 10:42] #20 closed

[2015-11-13 10:52] ZiZuu-store commented on #9
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;s9wjR5kJ&#x2F;7-github-issues"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> github issues</a>

[2015-11-13 10:55] ZiZuu-store commented on #9
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;4bKKzy5V&#x2F;8-code-refactoring"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Code refactoring</a>

[2015-11-13 10:56] ZiZuu-store commented on #11
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;sEJcYRaa&#x2F;9-redirect-old-ids"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Redirect old IDs</a>

[2015-11-15 21:16] devdesco-ceo commented on #20
Thanks a lot for maintaining the module! Confirming, it is working properly now!

[2015-11-16 06:22] ZiZuu-store commented on #20
:+1:

[2015-11-16 08:21] jeppeskovbakke opened #23 "Fatal error under installation"
Downloaded v.1.0.1. Uploaded to PS 1.6.0.14 and get this message after clicking 'Install'

[PrestaShop] Fatal error in module file :/home/primates/public_html/modules/zzcleanurls/zzcleanurls.php:
Call to undefined method zzCleanUrls::displayWarning()

[2015-11-16 08:24] ZiZuu-store commented on #23
Hi @jeppeskovbakke,
  I'm investigating .. stay tuned

[2015-11-16 08:25] ZiZuu-store commented on #23
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;2ue9EJj0&#x2F;13-fatal-error-on-install"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Fatal error on install</a>

[2015-11-16 08:38] ZiZuu-store commented on #23
@jeppeskovbakke the function is a method of the PS core Module class (see https://github.com/PrestaShop/PrestaShop/blob/develop/classes/module/Module.php#L2110)

I can't reproduce your issue .. please double check if you have any oder override module .. then verify the content of the file `<YOUR_PS_ROOT>/override/classes/module/Module.php` ..

Please paste here the contents of this file ..

I'm su

[2015-11-16 09:08] jeppeskovbakke commented on #23
Thanks for investigating!
I have nothing but index.php in override/classes/module/
I have been using another URL cleaner earlier on -Clean URLs by ha!*!*y.
It's uninstalled but could there be some remains leading to this issue?
KR Jeppe

man. 16. nov. 2015 09.38 skrev ZiZuu.com <notifications@github.com>:

[2015-11-16 09:25] ZiZuu-store commented on #23
Yes maybe ..

If you do not use any other overriding module please:

- uninstall my module
- remove my module from the disk
- remove any file in the `PS_ROOT/overrides/` tree, except for index.php files ..
- then clear any cache ..
- disable/re-enable URLs and SEO -> SEO friendly URLs
- double check the PS overrides dir is empty (except the dir structure and the index.php files
- double check the

[2015-11-16 12:38] jeppeskovbakke commented on #23
Sorry was just out of the house for a while...
Followed the instructions as closely as possible, -mind you I do have some overrides in classes and controllers, just not in modules. Permissions are fine.
It still throws the same fatal error on installation.

[2015-11-16 12:43] jeppeskovbakke commented on #23
Your overrides are in /classes/controller/frontcontroller.php and /controllers/front/* right?
The ones I have are all related to pdf generation, so there should be no conflicts

[2015-11-16 13:07] jeppeskovbakke commented on #23
Looked at a backup and found that they're the same files that used to be overridden by cleanURLs, but nothing seems to have been left behind as these folders are empty after uninstalling your module.

[2015-11-22 08:49] devdesco-ceo opened #24 "Manufacturer URLs generate 404 error"
Manufacturer URLs generate 404 error with Friendly URLs enabled:

/index.php?controller=manufacturer&id_lang=1&id_manufacturer=0 works just fine...
/manufacturers/blablabla gives 404 error

In the Module settings is the following: "brands/{rewrite}" :(

Please see images attached...

![image 5](https://cloud.githubusercontent.com/assets/8983883/11322830/ac7f4508-90c3-11e5-9845-d6889369e4fe.png)
![

[2015-11-22 13:51] ZiZuu-store commented on #24
Hi,
 please report your PS and module versions.

Will investigate asap

Thanks for your feedback

[2015-11-23 08:12] ZiZuu-store commented on #24
@devdesco-ceo is suppliers working fine instead??

[2015-11-23 14:18] devdesco-ceo commented on #24
I do not have suppliers enabled. PS 1.6.1.2, latest updated zzCleanURLs

[2015-11-23 19:57] kibiribi opened #25 ".html in categories URL generate 404"
thanks for zzCleanURL!
ZiZuu Clean URLs v1.0.1 - от ZiZuu Store
it works fine for products!

but it doesn't work fine for categories in my case ( PrestaShop 1.6.1.1 - 1 shop, 1 language)

I've changed in SEO section:
----------------------
Cache is turned on with compilation
Friendly URL is turned on
path for products = products/{rewrite}.html - works fine
path for CMS = pages/{rewrite}.html - wor

[2015-11-23 20:25] kibiribi commented on #25
some results from tests  - SEO category settings
-------------
catalog/{rewrite}.html/ - doesn't work
catalog/{rewrite}/ it works
catalog/{rewrite} it works

[2015-11-24 17:47] kibiribi commented on #25
Any chance to fix this issue ? :-(
I tried to replace html  in CategoryController.php
as you did in product -
-----ProductController.php----------
$sql = 'SELECT `id_product`
                FROM `'._DB_PREFIX_.'product_lang`
                WHERE `link_rewrite` = \''.pSQL(str_replace('.html', '', $product_rewrite))
------------------
but it doesn't work for link - www.site.com/category/folder.htm

[2015-11-25 22:42] ZiZuu-store commented on #23
@jeppeskovbakke I can't reproduce ..

[2015-11-25 22:44] ZiZuu-store commented on #25
Hi @kibiribi
  sorry for late reply ..  This behaviour is not supported, I'll see if I can implement it .. but I can't do it high priority

[2015-11-26 08:45] kibiribi commented on #25
Thanks for reply. I understand. :-)
I found paid module for this. By the way,
just in case -
 I found 3 paid modules like yours, only one module supports category format - /category/some-text.html
Category support - will be real advantage for this project in future... :-)

[2015-11-26 10:57] ZiZuu-store commented on #25
I'll implement it asap .. it's not hard to do .. but I can't right now ;)

Cordialmente,
Massimo -- *the ZiZuu staff*

On Thu, Nov 26, 2015 at 9:45 AM, Sergey <notifications@github.com> wrote:

[2015-11-30 16:47] ZiZuu-store commented on #23
Sorry but I can't find a way to rise your issue .. I'm closing this issue .. if you will have more info feel free to reopen it

Thank you

[2015-11-30 16:47] #23 closed

[2015-11-30 18:27] ZiZuu-store commented on #24
OK started working on ..  each manufacturer is now working on https://github.com/ZiZuu-store/zzCleanURLs/tree/fix-manufacturer-supplier .. still have to fix the manufacturers/ listing

[2015-12-01 12:51] #24 closed

[2015-12-01 15:57] ZiZuu-store commented on #25
@kibiribi Now we support html on every page ;)

[2015-12-01 15:57] #25 closed

[2015-12-01 16:30] #9 closed

[2015-12-11 15:55] metacreo opened #32 "Accented URL -> Category"
If Accented URL enabled and category contain cyrilic chars... on category page got 404

[2015-12-12 07:49] ZiZuu-store commented on #32
Hi @metacreo
  Thank you for your report.
Can you please clarify the following?

- the issue is only for category (product, cms,etc are ok) ?
- please provide a sample category name to be used to reproduce
- is the same name working on PS without the module?
- PS version
- module version

Thanks

[2015-12-14 11:26] metacreo commented on #32
I think only on category. Because product page showing ok. On cms pages not tested.
Examples of names:
example.com/en/turbochargers
example.com/ru/турбокомпрессоры
----------
example.com/en/equipment
example.com/lt/įranga
example.com/ru/оборудование
-------
The same names on PS with ID working ok.
Tested on prestashop 1.6.1.2

unfortunately now I do not have access to the files and I can not descr

[2015-12-14 12:35] ZiZuu-store commented on #32
OK thank you .. will inspect ASAP

[2015-12-15 10:16] metacreo commented on #32
Hi Zizuu,
fresh install of latest version.
CMS pages the same not work.
You can check at http://test.newestvision.com
BO conn:  /adminka
admin@newestvision.com
admin123
Thank You

[2015-12-15 13:41] ZiZuu-store commented on #32
@metacreo oh wonderful thank you .. if you could gimme a console access to this test server I'll try to debug and fix in real time ASAP ;)

In case you can, please contact me via gitter or email for access credentials, thanks again

[2015-12-15 17:45] ZiZuu-store commented on #32
@metacreo I'm debugging and working both on your test server and on my own

On my server (PS 1.6.1.1) I installed the russian language and added a CMS page for it .. coping the name from your site (`ru/info/доставка`) .. on my server it works!! ..

Can be a PHP version issue?

[2015-12-15 20:22] metacreo commented on #32
root@newestvision:/etc/systemd/system# php -v
PHP 5.6.14-0+deb8u1 (cli) (built: Oct  4 2015 16:13:10)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies

[2015-12-15 20:53] metacreo commented on #32
I can give you ssh access to server tomorrow.

[2015-12-16 09:48] metacreo commented on #32
I found some info http://doc.prestashop.com/display/PS16/Handling+special+characters+in+links
maybe the problem in link constructor.

[2015-12-16 10:22] DummeDitte opened #33 "Fatal error on installation"
I'm trying to install this module - but I get and blank white page with nothing but this on it:

"[PrestaShop] Fatal error in module zzcleanurls:
Call to undefined method zzCleanUrls::displayWarning()"

What on earth am I doing wrong?

(Yes, it is the zzcleanurls.zip I'm installing)

[2015-12-16 10:39] ZiZuu-store commented on #33
@DummeDitte .. As far as I can see .. nothing ... can you please report the following info?

- PS version
- other modules installed having their own overrides?
- zzCleanURLs version you downloaded
- double check the modules dir permissions

[2015-12-16 10:40] ZiZuu-store commented on #33
same as #23

[2015-12-16 10:42] ZiZuu-store commented on #32
@metacreo no need for xdebug for now .. a shell access should suffice at the moment

thank you

[2015-12-16 11:00] ZiZuu-store commented on #32
@metacreo good catch! I think the doc you found could be the issue .. even if I don't understand why it seems to work on my server even without any change ..

[2015-12-16 11:47] ZiZuu-store commented on #32
On my server Cylillic seems to be correctly handled by PHP without any modification.

Please try to run the following:
[code]

[2015-12-16 11:59] DummeDitte commented on #33
Turns out it actually was installed despite the "Fatal error".

But it destroyed my "SEO & URLs" - whenever I turned the friendly URLs on, the site went down with a "Redirection loop"-error.
Now I've cleaned everything up following your guide in Readme, and my shop is back to normal.

I'll try installing the module once again.

FTR:
I'm running PS 1.6.0.8
Trying to install latest stable release, 1

[2015-12-16 12:04] metacreo commented on #32
root@newestvision:~# php -r "\$uri = '/ru/оборудование'; \$uri = basename(\$uri)                               ; echo \$uri.\"\\n\"; preg_match_all('/[_a-zA-Z0-9\pL\pS-]/', \$uri, \$m); var_d                               ump(\$m);"
оборудование
array(1) {
  [0]=>
  array(17) {
    [0]=>
    string(1) "▒"
    [1]=>
    string(1) "▒"
    [2]=>
    string(1) "▒"
    [3]=>
    string(1) "▒"
    [4]=>

[2015-12-16 12:06] DummeDitte commented on #33
Update:
Ok, I still get the error upon installation and if I try to configure the module.
But otherwise the module has been installed and is apparently working.

EXCEPT! My CMS-pages can't be reached. They return 404-errors.

[2015-12-16 12:09] DummeDitte commented on #33
Oh, nope - now I fixed it!
(Without knowing how, but never the less).

Closing this issue. Thanks for responses! :)

[2015-12-16 12:09] #33 closed

[2015-12-16 12:16] ZiZuu-store commented on #33
@DummeDitte   no chance to guess the reason of the problem? Just for reference for other users :)

Thanks

[2015-12-16 12:19] ZiZuu-store commented on #32
@metacreo Please join https://gitter.im/ZiZuu-store/zzCleanURLs to have a better interaction

[2015-12-16 12:24] DummeDitte commented on #33
Well - I changed the path from info/{id}-{rewrite} to content/{id}-{rewrite} and then back to info/{rewrite} and then links started working again. Maybe it was only a matter of caching or updating the .htaccess file? I don't know...

[2015-12-16 12:32] ZiZuu-store commented on #33
OK it could be something related to caching .. thank you so much.

[2015-12-16 14:04] #32 closed

[2015-12-16 14:11] metacreo commented on #32
Resolved very simply
Localization ->  Advanced:

Language identifier: en
Country identifier: gb   (!!! if lt or ru or other... rewrite not work!)

but it is strange why the work without the module

[2015-12-16 14:40] ZiZuu-store commented on #32
Good to know :)

I think because without the module PS retrieves the object from DB just using the ID in the url, discarding the eventually malformed part of the string

Thank you for your time .. have a nice day

[2015-12-24 14:21] bilaychik opened #35 "ZiZuu Clean URLs v0.9 Conflict with Smart Blog v2.0.1"
Hi,

The problem is that I am using your module ZiZuu Clean URLs which is works perfect for me for Prestashop 1.6.0.9, but also I need to create a Blog, so I tried to use Smart Blog. The problems is:

1. Smart Blog doesn´t work with activated Friendly Url in configurations on Blog.
2. But it works if you use the link like this: index.php?fc=module&module=smartblog&controller=category, you have to

[2015-12-28 10:33] ZiZuu-store commented on #35
HI @bilaychik,
  thank you for reporting.

Unfortunately we have not this blog on our servers .. if you can provide us an access to your dev server or a "private" test copy of the blog we will work to have it work ASAP

[2015-12-28 10:38] bilaychik commented on #35
Hi,

It´s free module here: https://www.prestashop.com/forums/topic/317230-prestashop-blog-module/

[2015-12-28 10:40] ZiZuu-store commented on #35
OK, tnx .. will work ASAP

thank you

[2015-12-28 10:42] ZiZuu-store commented on #35
https://github.com/smartdatasoft/smartblog

[2015-12-29 13:39] rafaviana opened #36 "404 error"
I'm getting a 404 error on categories pages... Can you help me?
PS version: 1.6.1.2

[2015-12-29 13:39] rafaviana commented on #36
I'm using PS 1.6.1.2

[2015-12-29 17:37] ZiZuu-store commented on #36
Please give more infos

every category? describe your installation and if possible give us a live example

[2015-12-29 17:41] rafaviana commented on #36
Could you please give me your IP so I can add you to see my website?

The url is: www.temosonline.com

[2016-01-01 16:55] ZiZuu-store commented on #36
Hi,
 could you set a user/password auth instead?

We do not use a fixed IP

[2016-01-01 21:07] rafaviana commented on #36
I bought a paid module and fixed the problem. Thank you anyway

[2016-01-02 16:46] ZiZuu-store commented on #36
I'll be grate if you can tell us if you got the error on every category or only on some specific category .. thanks

[2016-01-02 23:53] rafaviana commented on #36
I've installed your module again and uninstalled the paid module so you can see what's wrong. Category pages is working now, but product pages and cart/login and other pages don't

[2016-01-03 10:05] ZiZuu-store commented on #36
you can write me ad info<AT>zizuu.com  thanks

[2016-01-05 00:44] #36 closed

[2016-01-20 17:47] mikecc444 opened #41 "{id} or {ean13} in product url"
Is it possible to add product {id} or {ean13} or other fields to the product URL using SEO and URL settings?

If I change {categories:/}{rewrite}.html to {categories:/}{rewrite}-{id}.html for example, the url is generated ok but the accessing it gives 404.

[2016-01-20 20:26] ZiZuu-store commented on #41
The goal of this module is to **remove** the id from the URL ... URLs with  ID are the default, if you want them you don't need this module.

Or am I missing something?!

[2016-01-20 22:17] mikecc444 commented on #41
I need to remove the id only from category url, not from product urls. I hoped I can use your module to do this. If this is not posible I will try another solution.

Thanks!

Căpruciu Mihai

Teonic srl | Feronerii si accesorii pentru mobilier

RO-10714902 - J38/289/1998
UNICREDIT TIRIAC BANK RM.VÂLCEA
IBAN: RO70BACX0000004567081000

22 Gib Mihăescu, RO-240574
Râmnicu Vâlcea, Vâlcea, România
T: +40

[2016-01-22 06:34] ZiZuu-store commented on #41
Uhmm it should be possible .. will inspect ASAP

[2016-01-22 06:38] ZiZuu-store commented on #41
Using **ean13** instead of **id** doesn't work ?

[2016-01-22 07:12] mikecc444 commented on #41
No, also 404. .

[2016-01-22 07:27] ZiZuu-store commented on #41
Ok

[2016-01-22 18:09] mikecc444 commented on #41
I think I found the problem, from what I see, the friendly URLS are not generated correctly after adding {id} in seo settings. My current product route is: **{categories:/}{rewrite}-{id}.html**, but the saved friendly url from the database does not contain the "-{id}" part. For example: this generated url **http://localhost/scule-si-unelte/burghie-precizie/freza-uluc-30mm-82233011-1.html** is save

[2016-01-22 20:20] ZiZuu-store commented on #41
Uhmm this way only work for your particular case in which you have chosen
to add the ID in this particular way ..

This can be a solution for you until we fix in a more general way ;)

Good work anyway

Il venerdì 22 gennaio 2016, mikecc444 <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2016-01-30 23:29] pixelremix opened #42 "IDs in Attributes"
IDs are still present in attributes when looking at a product.

eg. category/product#/13-color-orange

Is there any way to remove the ID from attributes also?

[2016-01-31 20:26] ZiZuu-store commented on #42
Nowadays it is not supported .. Will look deeper for a future implementation

[2016-02-01 13:09] ZiZuu-store commented on #42
@pixelremix I think this is an issue with your theme ..

AFAICS this URL is correct https://zizuu.com/calamite-da-collezione/#/Prezzo-5.24-11 .. isn't it?

Waiting for your feedback, thanks

[2016-02-01 20:32] pixelremix commented on #42
@ZiZuu-store I'm using the default theme.

That URL is correct, but that item doesn't have extra attributes.

For example, this item from your store

https://zizuu.com/stampi-in-silicone-per-muffin-e-cupcake/stampi-mignon-micro-bundt-cake-nordic-style-in-silicone-3pz#/11-colore-fucsia

You can see that ID 11 is added to the color fuscia, and any other color variant there is an ID.

[2016-02-01 20:46] ZiZuu-store commented on #42
@pixelremix OK got tour point

Will go deeper ..

Thanks

[2016-02-01 21:30] misthero commented on #42
I would like to say that those are not real PHP "rewritten url", those are hashes used only by javascript to select the correct image, highlight the variations and such minor aestetic differences, but the page is not reloaded, the javascript doing that is product.js and I think this has nothing to do with this module and it's out of it's scope.

an hash is not part of the url and can be anything t

[2016-02-01 21:41] ZiZuu-store commented on #42
@misthero thank you for your explanation and I'm of your opinion too.

I think tomorrow will close this issue if neither the night nor anybody else will rise any opposition :)

[2016-02-01 21:50] ZiZuu-store commented on #42
@misthero thank you for your explanation and I'm of your opinion too.

I think tomorrow will close this issue if neither the night nor anybody else will rise any opposition :)

[2016-02-02 13:51] ZiZuu-store commented on #42
As this is a JS issue and this module can't handle it, even willing I close this issue.

 I think js ids do not affect SEO, at least when not in the form `#!` that is used for AJAX

Thank you everybody

[2016-02-02 13:51] #42 closed

[2016-02-04 21:29] miguelbambo opened #43 "ZiZuu Clean URLs Conflict with AgileMultiSeller"
Hi,

You module has conflict with AgileMultiSeller Module. How to bypass this? I like both.
See image attached.
![error override2](https://cloud.githubusercontent.com/assets/17058143/12830266/0b408918-cb97-11e5-8440-93f89de0ec97.jpg)

[2016-02-04 22:33] ZiZuu-store commented on #43
Ho @miguelbambo
  Unfortunately override modules have the risk to act on the same code of others ..

Will see if we can avoid to override the constructor .. but can't assure a deadline

[2016-02-05 09:02] miguelbambo commented on #43
Hi,
Thank you for your prompt response. Can I share with you AgileMultiseller Module to help you overriding constructor or it is not necessary? If yes, send me your email.

Regards.
Miguel Bambo.

[2016-02-05 14:01] ZiZuu-store commented on #43
It's not necessary. Thanks :)

[2016-02-09 07:17] janikjan opened #44 "Make the real unique category tree"
Hi :)

I just want for Prestashop to respect different tree with same name of last category to be unique.

I hope you can understand me.

I have main categories:
1. E-cigarettes
2. Atomizers
etc

E-cigarettes have sub-categories which is actually name of producers:

Innokin
Joyetech
Kangertech etc.
But also Atomizers have sub-categories based on name of producers. But as you can see it is in diffe

[2016-02-09 07:20] janikjan opened #45 "{categories:/}{rewrite} and {categories:/}{rewrite}/ should have same page"
Hi,

my actual setting for categories is:
{categories:/}{rewrite} like https://www.bezpopelniku.cz/elektronicke-cigarety/innokin

But when I tried the same link with slash at the end https://www.bezpopelniku.cz/elektronicke-cigarety/innokin/ it is not working and only show 404 page.

When I make setting for categories: {categories:/}{rewrite}/ then I have vice-versa problem.

Could you please fix

[2016-02-09 07:24] janikjan opened #46 "[RFE] Use "-" instead of "/" as categories separator"
Hi,

now you are able only to have as separator between categories the slash "/". But for some cases nice will be if you can use as separator "-" instead only to use "/" .

So now the link looks like https://www.bezpopelniku.cz/elektronicke-cigarety/innokin
after modification it will looks like https://www.bezpopelniku.cz/elektronicke-cigarety-innokin

Thank you.

[2016-02-09 08:37] miguelbambo commented on #44
Hi janikjan,

Don't blame Prestashop because I dont see this troubleon my shop if I eally understood your query.
Can you explain it again, please.

Regards.
Miguel Bambo.

[2016-02-09 08:52] ZiZuu-store commented on #44
He is not blaming PS, he is just submitting a RFE for this module :)

[2016-02-09 08:56] ZiZuu-store commented on #44
OK got the request for enhancement, and I agree .. I was already aware of this "limitation" and I planned to work on it ASAP.

**We want to be able to use a category name more than one time, every time it's URI is unique and not conflicting with another category.**

Nowadays it is not allowed to have /catA/catB/FooBar **and** /cat1/cat2/FooBar because only the "FooBar" part of the URI is saved int

[2016-02-09 08:59] ZiZuu-store commented on #46
It is a quite specific request .. will look if implement depending of the amount of work needed.

Thanks

[2016-02-09 09:03] miguelbambo commented on #44
Thank you ZiZuu-store. I didnt understand.
Sorry janikjan.

[2016-02-09 09:03] ZiZuu-store commented on #45
If we hardcode the requested redirect we could have conflicting URIs between products and categories, for example ..

Why having only `category/` is not enough for you? What is the real world advantage of having `category`being redirected to `category/` ?

Thank you

[2016-02-09 09:04] ZiZuu-store commented on #44
@miguelbambo don't worry .. I understood only because we already discussed via email ;)

[2016-02-09 09:07] janikjan commented on #44
@miguelbambo It is OK maybe my describtion is not enough :)
@ZiZuu-store you exactly know what I mean! That is great and I hope you can solve it. Please keep me updated :).

[2016-02-09 09:10] ZiZuu-store commented on #43
@miguelbambo I'm gone back into my module history and realised what I forgot .. I had to introduce the `__construct()` override to bypass a PS bug in module install/uninstall

The constructor override is not necessary for this module to work, but it is the only way I found to have the `$default_rutes` property being set without rising a bug in the module uninstallation fase .. this bug would leave

[2016-02-09 09:11] janikjan commented on #45
Thanks for your response. I check some ther big shops in Czech republic like mall.cz and parfums.cz

You can check it https://www.mall.cz/mobilni-telefony and https://www.mall.cz/mobilni-telefony/ are the same.

Also http://www.parfums.cz/pripravky-do-koupele/ is the same like http://www.parfums.cz/pripravky-do-koupele

I think in real world this is "normal" state. I do not think that you should h

[2016-02-09 09:13] ZiZuu-store commented on #44
@miguelbambo It is not a "stupid" issue .. as PS only saves the category name and if the module would save something different then your PS won't work if you remove my module in future .. so I have to think something to achieve this false-simple request ;)

Will update here, of course

[2016-02-09 09:13] janikjan commented on #46
Thank you. This solution will also fix the issue in #44 because you will have only unique URLs :).

[2016-02-09 09:21] ZiZuu-store commented on #45
I saw, but from a SEO point of view the category URI is the one the system knows .. if yous shop has `category/` and `category` returns a 404 there is no problem at all, as the second URI is simply a non existing URI .. no link is present in your shop that point to `category` and every link you expose is in the supported  `category/` form .. so no issue is generated nor for SEO nor for user naviga

[2016-02-09 09:22] ZiZuu-store commented on #46
:+1:  you are right, but #44 caveats still remains ..

[2016-02-09 09:25] janikjan commented on #46
Yes #44 still remains for "/" as separator for categories and I think priority should be to fix #44 issue. This one is here is only maybe the second option which should work.

[2016-02-09 09:30] miguelbambo commented on #43
@ZiZuu-store
Thanks for remembering my issue.
I use Prestashop Version 1.6.0.14 (What do you say about it, if you know some?)
Do I need to upgrade to the latest version?
I am not sure with your tips.

Regards.

[2016-02-09 10:14] ZiZuu-store commented on #43
I tried the module on PS 1.6.0.14 and I had to use the construct on that version .. don't know if current version still has the problem .. I'll try to give a try in the next days on a test server

[2016-02-09 10:37] miguelbambo commented on #43
Ok thanks.

[2016-02-09 12:49] janikjan commented on #45
I only want to tell you that behaviour lika I wrote is pretty normal in the world :). And i think it is better for typos by customers or some uncompleted links, etc.

You can see it also on Prestasjop original webpage like https://www.prestashop.com/forums/ and https://www.prestashop.com/forums

As you can see this is widely accepted behaviour so I think it should be better to deal with this kind

[2016-02-09 14:45] ZiZuu-store commented on #45
I don't agree .. When I started using Linux the other world was using Windows :P

I'll keep this issue opened just as a reminder, in case a 0-cost implementation would arise ..

[2016-02-09 15:04] janikjan commented on #45
OK then. Thank you :).

[2016-02-09 15:20] ZiZuu-store opened #47 "[Insight] Commented code should not be committed - in zzcleanurls.php, line 22"
**[in zzcleanurls.php, line 22](https://github.com/ZiZuu-store/zzCleanURLs/blob/e907663153773774d1b1d80c0ba113f7a40fe3de/zzcleanurls.php#L22)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/0f609ac9-667f-4840-82d4-464e0f7c31ba/analyses/291)_

[2016-02-09 15:21] ZiZuu-store commented on #47
already fixed in dev

[2016-02-09 15:21] #47 closed

[2016-02-09 16:28] ZiZuu-store commented on #43
Unfortunately PS isn't able to handle multi line class properties during the module's override remove process (see https://github.com/PrestaShop/PrestaShop/blob/1.6.1.4/classes/module/Module.php#L2978 )

I'm trying to find a patch to submit to PS dev team, but it is a bit complicated to do a clean job .. will keep on trying

[2016-02-09 16:34] miguelbambo commented on #43
Thank you very much for your endeavour.
Good job.
Hope they will be a solution.
On Feb 9, 2016 6:28 PM, "ZiZuu.com" <notifications@github.com> wrote:

[2016-02-09 16:39] ZiZuu-store commented on #43
Please tell me if the conflicting module is overriding loadRoutes() too

[2016-02-09 16:42] miguelbambo commented on #43
Hmmm. . .  Sorry! I dont know how to check that. Please, guide me on how to
check that. I am available to colaborate.
On Feb 9, 2016 6:39 PM, "ZiZuu.com" <notifications@github.com> wrote:

[2016-02-09 16:54] ZiZuu-store commented on #43
Once you have the other module being installed look at PS_ROOT_DIR/`override/classes/Dispatcher.php`and paste it here .. thanks

[2016-02-09 17:02] miguelbambo commented on #43
Ok. Wait for some minutes because your module destroy my Prestashop files
on localhost so I need to reinstall Prestashop on localhost and also
install Agile modules and check that.
See you soon.
Thanks.
On Feb 9, 2016 6:54 PM, "ZiZuu.com" <notifications@github.com> wrote:

[2016-02-09 17:09] ZiZuu-store commented on #43
Uh .. what does "my module destroy PS" .. it should absolutely not !

[2016-02-09 17:15] miguelbambo commented on #43
I mean, after the error report appears after trying to install your module
automatically I am unable to access to my prestashop website or phpmyadmin
on localhost i return it gives me just a white empty page.
Firstly, I didnt notice it was related to your module conflict with Agile
and ive tried to change the Port thinking on that issue with skype and
other related programs but after new prestasho

[2016-02-09 17:32] miguelbambo commented on #43
Alright, I have some idea.
I will go to that file even being unable to access to localhost , I will paste it right now.

[2016-02-09 17:41] miguelbambo commented on #43
<?php
class Dispatcher extends DispatcherCore
{
	/*
	* module: agilemultipleseller
	* date: 2016-02-04 23:00:57
	* version: 3.1.0.1
	*/
	protected function __construct()
	{
		if(Module::isInstalled('agilemultipleshop'))
		{
			include_once(_PS_ROOT_DIR_ ."/modules/agilemultipleshop/agilemultipleshop.php");
			$this->default_routes = array_merge($this->default_routes, AgileMultipleShop::get_rewrite

[2016-02-09 17:59] ZiZuu-store commented on #43
OK I should be able to provide a compatible rewrite .. hoping not breaking anything else .. stay tuned

[2016-02-09 18:01] miguelbambo commented on #43
Ok thanks.

[2016-02-09 18:17] ZiZuu-store commented on #43
Please try if https://github.com/ZiZuu-store/zzCleanURLs/tree/avoid-contructor-override works for you ..

[2016-02-09 18:18] miguelbambo commented on #43
Ok I am trying right now.
On Feb 9, 2016 8:17 PM, "ZiZuu.com" <notifications@github.com> wrote:

[2016-02-09 18:34] miguelbambo commented on #43
Sorry no power here since now, my computer will shut down :( I will let you
know as soon as the power comes back.
On Feb 9, 2016 8:18 PM, "Miguel Bambo" <bambomiguel@gmail.com> wrote:

[2016-02-09 20:12] janikjan commented on #45
Hi :).

I want to only tell you that same bahavior with or without slash at the end of category link has original Prestashop nice URLs. So I think you can make it also in this module because it seems that this is "issue" only for this module.

Please keep me updated. I also hope it will not be that hard for yout to fix it if it is working without any issues on original Prestashop URLs with IDs.

T

[2016-02-09 21:12] miguelbambo commented on #43
I can upload the module but doesnt appear to be installed in the modules list.

[2016-02-10 00:06] miguelbambo commented on #43
See image.
![construct2](https://cloud.githubusercontent.com/assets/17058143/12934948/d916dd18-cf9a-11e5-965b-f317d5bd26e6.jpg)
![construct](https://cloud.githubusercontent.com/assets/17058143/12934949/d917de34-cf9a-11e5-9fe2-9f5c78881218.jpg)

[2016-02-10 00:28] miguelbambo commented on #43
![routes](https://cloud.githubusercontent.com/assets/17058143/12935381/fd981a5a-cf9d-11e5-844c-f95fee5771d0.jpg)
![routes2](https://cloud.githubusercontent.com/assets/17058143/12935382/fd9ce422-cf9d-11e5-905a-d2b0da3ab907.jpg)

[2016-02-10 09:11] ZiZuu-store commented on #43
How do you installed the development branch of the module?

you have to assure taht the module dir is `zzcleanurls` (lowercase, as I wrote) ..

Alternatively you can just install the "stable" version and then replace the file `override/classes/Dispatcher.php` with the one taken from the development branch .. then reset the module

[2016-02-10 09:19] ZiZuu-store commented on #43
Anyway .. I tested the new approach and it works fine..

As overriding `loadRoutes()` should have less conflicts with other modules I think this fix can be considered the right way to do things.

I'm going to deploy a new official stable release having this fix enabled. Just install the new release and go ahead :)

Thank you for your report @miguelbambo

[2016-02-10 09:22] #43 closed

[2016-02-10 09:45] miguelbambo commented on #43
Hi @ZiZuu-store,
Thank you.
Yes maybe the problem was to not rename the folder, I used as it was :
zzCleanURLs-avoid-contructor-override.zip instead of renaming it to "zzcleanurls" as you teach right now.
I will let you know later after re-test it.

Thank you very much.

[2016-02-10 10:00] ZiZuu-store commented on #43
You are welcome

Just install https://github.com/ZiZuu-store/zzCleanURLs/releases/tag/v1.0.4 :)

[2016-02-10 10:09] miguelbambo commented on #43
Oops!
One little trouble - still conflicts with Agille.
See image.
![getcategorylink](https://cloud.githubusercontent.com/assets/17058143/12944344/1735632c-cfef-11e5-9e76-b6b0a6c96f0f.jpg)

[2016-02-10 10:34] miguelbambo commented on #43
That is way I thought the best way maybe you could do some tests with Agile Modules while making some corrections in your module but I think we are almost there.
Thanks for being patient with my issue.

Regards.

[2016-02-10 10:53] ZiZuu-store commented on #43
Sorry, I can't help you this time

My module needs to override things to work, can't do anything to find a workaround

Sorry

[2016-02-10 10:56] miguelbambo commented on #43
Ooohhhh . . . What a pity for me!
That is ok.
One idea:
Can I delete the affected Agile Module File so it can be replaced by your file?
Does this seems logical?

[2016-02-10 11:02] ZiZuu-store commented on #43
Let's continue on [Gitter](https://gitter.im/ZiZuu-store/zzCleanURLs)

[2016-02-12 16:13] ZiZuu-store commented on #41
OK, close to have a solution .. found a PrestaShop bug causing the problem

Will release a new version fixing the issue and will open a bug report to PS in order to have it fixed in a more structural way

Still a bit of patience please

[2016-02-12 16:54] ZiZuu-store commented on #41
Made a pull request on PS1.6.x .. the same fix was already applied in the development branch, so it should be a good fix.

**PrestaShop/PrestaShop#4991**

[2016-02-13 17:21] ZiZuu-store commented on #41
@mikecc444 can you please try https://github.com/ZiZuu-store/zzCleanURLs/tree/fix-id-ean13 ??

Product should be fixed .. I'm working on categories and other .. please let me know if it works for you (what PS version)

[2016-02-15 13:22] mikecc444 commented on #41
yes it works, ps 1.6.1.3
thanks

[2016-02-15 13:29] mikecc444 commented on #44
Here is a working solution for duplicate subcategory names in different parent categories.

Override isCategoryLink for dispatcher with:
    private static function isCategoryLink($short_link, $route)
    {
        $category = basename($short_link);
        $cat = explode("/",$short_link);
        $short_link = preg_replace('#\.html?$#', '', '/'.$short_link);
        $regexp = preg_replace('!\\\.h

[2016-02-15 13:35] janikjan commented on #44
Hi Mikec,

thank you for your solution. I hope Zizuu should apply your fix to his module.

[2016-02-15 13:50] ZiZuu-store commented on #44
@mikecc444 @janikjan Please fill a pull request with your proposal against the current dev branch and I'll take it into account ..

Thanks

[2016-02-15 14:02] #41 closed

[2016-02-15 14:09] ZiZuu-store commented on #46
Sorry but I don't think this request should be satisfied.

[2016-02-15 14:09] #46 closed

[2016-02-15 16:33] mikecc444 commented on #44
I know, I need to find a solution to get it from the db. Do you have any ideas ? Thanks

[2016-02-15 17:02] ZiZuu-store commented on #44
Just fill a PR for now .. will look for a better implementation once the code is usable for test ;)

[2016-02-15 17:46] ZiZuu-store commented on #45
Sorry, but:
- this behaviour is not a bug
- no SEO issues are raised by this behaviour
- implementing it in a consistent way is quite impossible
- implementing a 301 redirect is over the scope of this module (it has to remove ID from the URL)
- **301** is not the only solution, implementing **canonical** is another option. This module can't decide for the user
- the "fix" is not trivial and there

[2016-02-15 17:49] ZiZuu-store commented on #45
Sorry, but:
- this behaviour is not a bug
- no SEO issues are raised by this behaviour
- implementing a 301 redirect is over the scope of this module (it has to remove ID from the URL)
- **301** is not the only solution, implementing **canonical** is another option. This module can't decide for the user
- the "fix" is not trivial and there is a risk to introduce bugs, having a negligible counterpa

[2016-02-15 17:49] #45 closed

[2016-02-15 17:57] janikjan commented on #45
OK, what should I do :). The most important point is another issue which you knwo about it :).

[2016-02-15 17:58] ZiZuu-store commented on #45
:+1:

[2016-03-02 07:48] ehsanatwork opened #51 "zzCleanURLs is not working on 1.6.1.4 (?)"
Hi

At first i would like to thanks to you, for your nice work of Prestashop module "zzCleanURLs".
I am trying to use this module on my Prestashop version 1.6.1.4.

After installing this module, i have made the essential changes under (seo & url --> schema of urls) that you mentioned on github. and according to the instructions, i have clear the cache.

But the problem is, when i make those parame

[2016-03-03 22:39] ZiZuu-store commented on #51
It seems the module is not installed ..

Please give me as many info as you can.
Il 02/mar/2016 08:50, "SMEHSAN" <notifications@github.com> ha scritto:

[2016-03-04 18:40] ajensen27 opened #52 "Extra & or / after URL"
This module seems to work in that it puts the rel=canonical link in my pages but this is the second time I've installed it and it creates URL's for my site with an & or extra / after them. I can see this in Google Analytics. Any ideas why this might be happening?

[2016-03-04 18:44] ajensen27 commented on #52
I'm sorry but I can see now in the instructions that I have to have my schema of url's set up a certain way. Is this what was causing the issue?

Also, won't this affect my sites rankings in Google since I'd be changing the URL?

[2016-03-05 06:50] ehsanatwork commented on #51
This is time this works.
Just amazing.

Just one thing i want to know,

what about the Home inside the url.

http://prntscr.com/abefq5

how can i remove that?

Thank You

[2016-03-06 16:38] ZiZuu-store commented on #51
What is home?

Nothing in this module add a home path. So it has to be related to you categories or CMS configuration I suppose

[2016-03-11 05:46] simonwiller opened #53 "Delete Query string"
Hi,

Thanks for the module.

I have a question. When does the module actually delete query strings. I thought that it would delete it on pages with pagination like my category pages. But as fare I can see it only inserts <link rel="canonical" href="full url"> and does not delete the query strings which imho is the the point of installing af module like this - right?

All the best

[2016-03-11 08:54] ZiZuu-store commented on #53
Hello,
  the intended behavior is to remove the ID from the URLs and make the webmaster to choose a better URL schema than the default one

To accomplish this task *zzCleanURLs* overrides same core classes. Only a minimal part of the overridden code is changed and it regards the ID handling only.

The QS handling should be the same of the default PS core.

We have developed another module, **[ZiZu

[2016-03-11 09:00] ZiZuu-store commented on #52
Hi @ajensen27,
  sorry for late reply .. can you clarify your issue please? Can you provide more info about PS version, module version, a live example where I can see this issue ?

Thank you

[2016-03-11 09:02] ZiZuu-store commented on #51
@ehsanatwork .. ping :)

[2016-03-11 09:11] ZiZuu-store commented on #11
I think this behavior isn't implementable in a clean error-proof way.

New URLs could have ID too (if the user wants it) and can be error prone to hard code a fuzzy logic to determine when a given URL is "the old one" or not ..
It would introduce unnecessary computational overhead too

**The right way to accomplish the job is to add a rewrite rule in the web server (*vhost* or `.htaccess`)**.

Thi

[2016-03-11 09:11] #11 closed

[2016-03-12 14:19] #51 closed

[2016-03-22 09:34] mpatzekov commented on #44
@mikecc444 @ZiZuu-store I understand that mikecc444 solution is not the best one, but I will try to use it untill the future functionality is implemented into the module. I just wanted to know which particular files should I edit. I suppose:
1./modules/zzcleanurls/override/classes/Dispatcher.php
2. /modules/zzcleanurls/override/controllers/front/CategoryController.php

Any help is much appreciated

[2016-03-22 09:46] mikecc444 commented on #44
@mpatzekov yes you are right, those are the files that need to be changed.
Don't forget to change the root category name in the provided code and backup everything before making any changes.

[2016-03-22 09:47] ZiZuu-store commented on #44
@mikecc444 why don't you fill a pull request with your proposal? This way I can inspect and try it easily .. thanks

[2016-03-22 09:52] mikecc444 commented on #44
@ZiZuu-store because I am new to github and I really don't know how to submit my changes :(
I'll try to see if I can figure it out.

[2016-03-22 09:54] mpatzekov commented on #44
Also new to Github. @mikecc444 @ZiZuu-store - guys, if I could help you with something, just tell me.

[2016-03-22 10:18] mikecc444 commented on #44
I made a pull request here https://github.com/Lebioda/PrestaShop-modules-CleanURLs/pull/19 but I don't think it's the rigth way

[2016-03-22 10:25] ZiZuu-store commented on #44
@mikecc444 it's simpler than you can expect

- Go to [zzCleanURLs](https://github.com/ZiZuu-store/zzCleanURLs) repo on GitHub
- Select the "**dev**" branch
- Push the "**fork**" button

![screen shot 2016-03-22 at 11 17 30](https://cloud.githubusercontent.com/assets/6018431/13948503/bcc8bb80-f020-11e5-95ac-cc17651c97b4.png)

Now you have your clone of the repo.

create a new branch using the same

[2016-03-23 17:56] #53 closed

[2016-03-23 17:57] ZiZuu-store commented on #52
@ajensen27 any news?

[2016-03-23 18:01] ajensen27 commented on #52
I'm on PS 1.6.2 and it was the latest version of your module available here. I uninstalled your module and used this hack below to get canonical URL's and everything is working perfectly again (no issues with extra characters after my URL). I didn't need the other options so this is working fine for me. Thanks.

https://www.prestashop.com/forums/topic/420750-canonical-url-how-to-implement-in-16/

[2016-03-23 18:01] #52 closed

[2016-03-23 23:12] ZiZuu-store commented on #52
- this module does not add any **canonical** tag
- latest Prestashop version available is 1.6.1.4 but you use **1.6.2** ?

This is an invalid issue. No enough neither pertinent info was given to be able to investigate a possible bug.

[2016-03-24 12:27] ZiZuu-store commented on #35
@bilaychik can you confirm that your blog installation has **moduleRoutes** correctly set? See this instruction please: http://smartdatasoft.com/doc/ps/smartblog/#!/module_routes

[2016-04-08 15:33] ZiZuu-store commented on #35
@bilaychik I just have seen a shop with multishop feature enabled and SmartBlog installed and working with zzCleanURLs installed ..

I guess your issue is caused by module routes being configured wrong ..

Please give me a feedback or I'll have to close this issue as invalid, thanks

[2016-04-11 11:38] Scott-Jackson opened #54 "Add {cms_category} to CMS page route"
Request to possibly include the cms_category in the path to CMS page. We have this in the breadcrumbs already, so I think it would be nice to have info page urls like .../staff/peter .../staff/paul or .../services/design .../services/construction etc.

[2016-04-11 13:01] ZiZuu-store commented on #54
Hi @Scott-Jackson
  thanks for using our module.  I'll check how hard could be to implement and, if simple and compatible with old release, will try to satisfy your request ASAP

[2016-04-19 09:49] netsliver commented on #44
Hi,

By testing this patch I get an error:

Fatal error: Uncaught Subquery returns more than 1 row

2 things:
- We must remove the last possible /
- To recover the root category must be used CategoryCore :: getRootCategory ()

Dispatcher:
`private static function isCategoryLink($short_link, $route)
    {
        $category = basename($short_link);
        $cat = explode("/", trim($short_link, '/'))

[2016-04-19 10:04] netsliver commented on #44
Something like this?
[code]

[code]

[2016-04-19 15:16] ZiZuu-store commented on #44
@netsliver I think you should use the child class method, not the "core" one: `CategoryCore::getRootCategory()` as otherwise you'll bypass a possibly overloading method in the child

[2016-04-25 13:40] dmitrymurashenkov commented on #51
Run into the same issue. Seems a single step should be added to installation guide:

After module is uploaded it is not installed by default (at least in Presta 1.6.1.4), but simply added to list of available module, so you have to find there and click "install" there.

After that it works fine.

[2016-04-25 18:52] ZiZuu-store commented on #51
Will do .. thanks

[2016-04-28 10:48] ZiZuu-store commented on #51
done https://github.com/ZiZuu-store/zzCleanURLs/blob/dev/README.md

Thanks

[2016-05-03 12:24] mpatzekov commented on #44
Hi guys! Any progress with this issue? Does somebody know how to do a workaround for this issue with duplicate category name and slug?

[2016-05-06 23:15] rywi opened #56 "Hi. Problem with FrontController / Error http 500 very often"
Error log:

[07-May-2016 00:11:46 Europe/London] PHP Warning:  array_filter() expects parameter 2 to be a valid callback, no array or string given in /home/g78939tk/public_html/nature/override/classes/controller/FrontController.php on line 10

my frontcontroller:
<?php
class FrontController extends FrontControllerCore
{
    protected function canonicalRedirection($canonical_url = '')
    {

[2016-05-07 07:01] ZiZuu-store commented on #56
Hi,
Thanks for reporting

Please provide more info on your environment:
- PHP version and sapi
- web server and its version
- OS

Thanks

[2016-05-07 08:34] rywi commented on #56
Current PHP version: 5.4.45 You are using CGI PHP

Web server	nginx
Server Address	http://nature4you.co.uk
cache-control	no-store, no-cache, must-revalidate, post-check=0, pre-check=0
content-type	text/html; charset=utf-8
p3p	CP="IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA"
powered-by	PrestaShop
pragma	no-cache
server	nginx
transfer-encoding	chunked
x-powered-by	PHP/5.4.45

[2016-05-07 09:05] ZiZuu-store commented on #56
Will inspect and try to reproduce ASAP

Thank you

[2016-05-09 17:37] rywi commented on #56
Knock knock

[2016-05-09 19:14] ZiZuu-store commented on #56
Who's there?

[2016-05-09 19:33] ZiZuu-store commented on #56
AFAIK this code is perfectly working.

Do you have some provideI optimization/cache in act?It looks like some nasty bug in you PHP environment

[2016-05-09 22:07] rywi commented on #56
Not really. I'll check again with cache enabled and off. Thank you for checking it anyway.
I might have to wait for new presta shop version and see then.

[2016-05-09 22:29] ZiZuu-store commented on #56
I'm not referring to PS cache, but PHP opcode cache mechanization as xcache, APC or eAccelerator

I don't think it is a code issue, but some nasty bug of PHP zipcode caching mechanism related to lambda functions optimization.

[2016-05-12 10:03] ZiZuu-store commented on #56
@rywi can you confirm or not your server has any kind of OPcode cache enabled?

[2016-05-12 10:59] rywi commented on #56
Please give me some tip how to do it.

[2016-05-12 10:59] rywi commented on #56
Check it

[2016-05-12 12:04] ZiZuu-store commented on #56
you can make an info.php file
[code]

and email me its URL .. I'll check it

[2016-05-12 12:21] rywi commented on #56
Thank you.

PHP Version 5.4.45

System	Linux az0099.srv.az.pl 4.0.6 brocade-gut #31 SMP Fri Nov 20 22:05:10 CET 2015 x86_64
Build Date	Apr 9 2016 10:47:34
Configure Command 	'./configure' '--enable-bcmath' '--enable-calendar' '--enable-exif' '--enable-fastcgi' '--enable-ftp' '--enable-gd-native-ttf' '--enable-intl' '--enable-libxml' '--enable-mbstring' '--enable-pdo=shared' '--enable-soap' '--enab

[2016-05-12 12:35] rywi commented on #56
Php54.ini

max_execution_time = 1000	 ; Maximum execution time of each script, in seconds
max_input_time = -1 ; Maximum amount of time each script may spend parsing request data
memory_limit = 1024M	  ; Maximum amount of memory a script may consume (32MB)
max_input_vars = 10000;

Sent from my iPhone

[2016-05-12 12:37] rywi commented on #56
Let me know if you need an access to my prestashop or ftp... Etc.
Im very appreciated that you trying to help me.
Regards rywi

Sent from my iPhone

[2016-05-12 13:58] ZiZuu-store commented on #56
As supposed .. you are using **`eAccelerator v0.9.6.1-ea`** and it has a bug making it fail handling **[lambda functions](http://php.net/manual/en/functions.anonymous.php#113422)**:

- http://stackoverflow.com/questions/11254721/php-5-3-lambda-anonymous-function-not-working
- https://github.com/eaccelerator/eaccelerator/blob/42067ac7e2d55caa5d060580489f5043357ffbe2/ChangeLog#L103
- https://github.

[2016-05-12 14:01] ZiZuu-store commented on #56
Sorry, but I have to close the issue ..

Thank you for your help

[2016-05-12 14:01] #56 closed

[2016-06-08 13:20] mendouga opened #57 "Problem with the smartblog homepage"
Hello,

I have a problem

When i try to go to" mydomain/smartblog.html" for listing all blogs posted, it redirects me directly to my home page website

Can you help me with this please ?

[2016-06-23 04:17] maximo88 commented on #51
It works perfect in 1.6.1.5. I am really impressed with your work. You have helped a lot of users for free. You deserve a prize.

[2016-06-28 14:11] ZiZuu-store commented on #51
Thank you very much, I really appreciate your feedback :)

[2016-08-09 18:37] codepoppo opened #58 "Blog module giving error"
Hi- All other controllers work well with clean URL and no ID but not with the blog module. I checked the controller index for this module and it is written correctly. How do I correct this as SSL is failing and Google is knowing my score down? TY!
![clean url without id working](https://cloud.githubusercontent.com/assets/19863425/17528777/b2d1d7d8-5e3e-11e6-9086-27042f5caf27.jpg)
![url not friendl

[2016-08-09 18:38] codepoppo commented on #58
ms Blog
*
*  @author    Joommasters <joommasters@gmail.com>
*  @copyright 2007-2015 Joommasters
*  @license   license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
*  @Website: http://www.joommasters.com
*/

include_once(_PS_MODULE_DIR_.'jmsblog/class/JmsBlogHelper.php');
class JmsblogCategoriesModuleFrontController extends ModuleFrontController
{
	public $ssl = true;
	public $display_column_le

[2016-08-15 15:34] ZiZuu-store commented on #58
Hi,
  thanks for reporting.

Sorry but I don't fully understand the issue. What is your PS configuration, the module configuration, the expected behaviour and the obtained one?

Have you other modules installed that are overriding the core?

How can I reproduce and test ?

[2016-08-30 07:42] ZiZuu-store commented on #58
@codepoppo are you alive?

[2016-08-30 08:10] ZiZuu-store commented on #57
Sorry for late reply

Can you give me more details pls?

[2016-09-09 20:10] Arpels opened #59 "New prestashop 1.6.1.7"
Hello,

First of all, thank you for developping this module and providing it here on git.
I've been using your module for quite some time on the 1.6.1.3 version and worked like a charm.

However, i's no longer working on the 1.6.1.7 version

Thats very sad...

Anyway, me little finger and I were wondering if by any chance you would update the code to make it work with that new double ID... ?

Than

[2016-09-09 21:46] ZiZuu-store commented on #59
Hi

Thanks for reporting. I already heard about this for 1.7 but I wasn't aware
of that back port.

Of course I 'll work on this unattended calamity, can't assure a deadline
but I will do ASAP.

Any further detail will be appreciated of course.

Best regards

Il venerdì 9 settembre 2016, Arpels <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2016-09-10 08:31] Arpels commented on #59
Hello,

Thanks for your reply ! actually I made a mistake, i had an extra ID on specific products within the simplified URL.

So no port back of the double ID on the 1.6.1.7.

I tried severale ways to make it work, like unistall through prestashop, manual install /FTP but nothing worked.

Even by following the specific actions required (delete cache, unactivate,activate etc...)

It's like prestash

[2016-09-11 10:23] ZiZuu-store commented on #59
Ok, I need to inspect your specific environment then

Can you point me to the affected site?
Some kind of access could help to debug and verify if it is a module bug or an issue of your config

[2016-09-11 11:23] Arpels commented on #59
Hello,

Thanks for your proposal ! I've rollback my UAT and PROD since I couldn't get it working.

Let me setup a testing environment and i'll forward you the related infos.
Do you have a mail on which I can give them to you ?

Regards,
A

[2016-09-11 11:54] ZiZuu-store commented on #59
Sure, send info to info@ZiZuu.com

Il 11/set/2016 13:29, "Arpels" <notifications@github.com> ha scritto:

[2016-09-12 16:03] ZiZuu-store commented on #59
So the issue is triggered by only some special products .. right? Can you specify them? Please join on jitter chat in order to have a better communication :)

[2016-09-12 17:02] Arpels commented on #59
Hello,

it was only on specific products.
I have deacivated them now to avoid any misunderstanding.

[2016-09-13 13:21] ZiZuu-store commented on #59
I need you point me to the problematic paths/products.

Furthermore plz set BO language to English, otherwise I'm in big troubles
... I'm totally lost with a French BO

Il lunedì 12 settembre 2016, Arpels <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2016-09-13 13:57] Arpels commented on #59
Hello,

Ahah sorry about that. I've imported the English language through the localization menu but it doesn't modify everything. I guess traduction have been lost when deleted from DB.

Let me know if you find you way out of it, its mostly transparent. If not, i'll install prestashop on my local just to get the language and trads, then import them in the test env DB.

I wanted to take some screen

[2016-09-14 05:57] ZiZuu-store commented on #59
I enabled the accented URLs support and cleared caches

Il martedì 13 settembre 2016, Arpels <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2016-09-14 06:04] #57 closed

[2016-09-14 06:06] #58 closed

[2016-09-15 09:40] Arpels commented on #59
Hello,

I don't get it. I tried to do the same thing on my UAT and it doesn't work.

If you have time could you look to my UAT env ? I'm forwarding you the credentials per mail.

Thanks !

[2016-09-19 15:54] ZiZuu-store commented on #59
As far as I can see it is working now.

**This module is an "_overriding module_", it means you have to leave the option "_disable all overrides_" disabled**!

Close as invalid. Have a nice day :)

[2016-09-19 15:54] #59 closed

[2016-09-19 16:55] Arpels commented on #59
Hello,

Thanks for your feedback ! I wasn't aware of this option/features to disable.
Whare can I find it?

Thanks for yout help,

Regards,
A

[2016-09-20 14:10] ZiZuu-store commented on #59
![screen shot 2016-09-20 at 16 08 03](https://cloud.githubusercontent.com/assets/6018431/18673605/ad9f0946-7f4c-11e6-92d0-3b5b9e77af54.png)

[2016-09-27 07:05] Arpels commented on #59
Hello,

Thanks for your inputs and time, it's working fine now. So i wasn't an issue at all..

Regards,
A

[2016-09-27 07:27] ZiZuu-store commented on #59
urw

[2016-10-24 08:42] drAlberT opened #61 "Add .editorconfig"

[2016-10-24 08:43] drAlberT opened #62 "Add sensiolabs security checker"

[2016-10-24 08:46] drAlberT opened #63 "Update project dependencies (composer.lock)"

[2016-10-25 12:11] #61 closed

[2016-10-25 12:14] #62 closed

[2016-10-25 12:14] #63 closed

[2016-10-26 18:44] AdrianAMR opened #66 "No additional $_GET parameters on routed controllers"
Hi :)

If i try to access to `index.php?controller=order-confirmation&id_cart=52` the URL is redirect without params.

If I print `Tools::getAllValues()` -> return only the name of controller.

![unnamed](https://cloud.githubusercontent.com/assets/15330543/19739824/bb0c1b28-9bbc-11e6-9263-91609878748a.png)

But if i access to the url with seo, `order-confirmation.php?id_cart=52`
and print `Tools::

[2016-10-26 19:14] drAlberT commented on #66
Hi,
  thank you for reporting ..

So, if I understand you issue, when the module is active you **have** the QS parameter and you think they shouldn't be there !??

What is the problem if they are present?

Looking for your clarifications

Regards

[2016-10-26 19:25] AdrianAMR commented on #66
The problem if i access to the url mydomain.com/index.php?controller=order-confirmation&id_cart=52

The param id_cart isnt present... because if i acces this url, redirect to the SEO URL order-confirmation without params...

[2016-10-26 19:28] drAlberT commented on #66
So the scenario is **the opposite** you described in this issue? ...

[2016-10-26 22:46] AdrianAMR commented on #66
Yes, the issue is on a route controller, when access mydomain.com/index.php?controller=order-confirmation&id_cart=52&id_module=20 you lost the $_GET parameter id_cart and id_module!

[2016-10-26 23:10] drAlberT commented on #66
Ok, thanks.

Will inspect ASAP

[2016-10-27 08:16] AdrianAMR commented on #66
In the module Redsys for Payment, when users confirmation the pay are redirect to ugly url(index.php?controller=order-confirmation&id_cart=52).

I solved changing the ugly url in the module for the pretty url!

Thanks!!

[2016-10-27 08:51] drAlberT commented on #66
You should be able to rewrite the URL in PS backoffice -> `SEO / URLs` .. select the module and write there the "pretty URL" you want the module to use ..

Let me know if it works for you.

[2016-10-27 09:17] AdrianAMR commented on #66
The problem is not the url from the module on SEO / URL.
In the module use directly the code (BASE_URL/index.php?controller=order-confirmation&paramrs...).
I have to change directly on the module where put "index.php?controller=order-confirmation" for the url that the module has on SEO / URL, and this works for me.

Sorry for my English! :)

[2016-10-27 09:39] drAlberT commented on #66
Oh .. if the module uses `BASE_URL/index.php?controller=order-confirmation&paramrs...` then it is  its bad. It should use a PS-core helper to build the URL, this way automatically handling the routing change made by use of pretty URLs ..

If you implement a good patch keep the time to submit it to the module author ;)

So, I close this issue as `invalid`, as it is not an issue of this module. Than

[2016-10-27 09:39] #66 closed

[2016-11-22 07:19] pretoriano80 opened #67 "301 redirect when friendly url (slug) change"
Hi, i have noticed that when you change the url of a product the old url is not redirected to the new one, which is Prestashop's default behavior without this module.
Obviously this is very bad for SEO because crawlers will find a 404 error instead of 301 redirect. Can you please have a look into this?

[2016-11-22 09:19] drAlberT commented on #67
Hi @pretoriano80 .. AFAIK Prestashop did **NOT** behaves as you say ..

If you have a product with slug "**`product-name`**" and rename it to "**`product-other-name`**" you will **not** have a 301 redirect automagically set by PS from the old "**`ID-product-name`**" to the new "**`ID-other-product-name`**" ..

Are you sure? .. Aren't you referring to the possibility of redirecting a disabled produ

[2016-11-22 15:31] pretoriano80 commented on #67
I made a quick test yesterday on a backup site and Prestashop automatically redirected the old link to the new one just like in your example, basically "old_product_name"  was redirected to "new_product_name".
I had debug mode activated so i could also see Prestashop warning that the page moved.
I will make another test later when i get home and post the results here.

[2016-11-22 16:22] pretoriano80 commented on #67
Just finished another test here are the steps and Prestashop behaviour 👍
NOTE: Don't test this on a production site

1. If you have Clean URLs enabled please disable it or even better,uninstall
2. Make sure Prestashop's default "friendly url" is active and working
3. Modify the "friendly url" of a product and save (in my case was from "gaming_pc" to "gaming_pc_new" )
4. Open the product page using

[2016-11-22 16:48] drAlberT commented on #67
Please report your complete system info:
- PS version
- PHP version
- Apache
- the complete list of your installed modules

Thanks

[2016-11-22 17:09] pretoriano80 commented on #67
This are the specs for my test site:

- PrestaShop -1.6.1.9
- PHP - 5.4.45
- Apache - 2.4
- Modules : i use a clean Prestashop installation for testing so only Clean URLs and SEO-TK are enabled but when i tested the redirection with Presta's default "friendly url" both modules and overrides were disabled.

I also had a good read on Prestashop's forum and it looks that this 301 redirect is Prestash

[2016-11-22 17:39] pretoriano80 commented on #67
Ok,i've found one of the threads that i was reading yesterday about clean urls and 301 redirects by Prestashop engine,here it is: [Link to Prestashop forum](https://www.prestashop.com/forums/topic/489546-the-clean-url-myth/)

[2016-11-23 07:31] Bradas opened #68 "[RFE] PS 1.7.x support"
Hey! Any plans to start working on supporting 1.7? Tested it out, and it seems that only Products work well. For some reason Categories and CMS return controller=404.

[2016-11-23 08:31] drAlberT commented on #68
Hi @Bradas
  will do ASAP, unfortunately I have a bounce of other priorities now. But I'll take it into account as shortly as I can.

If someone could provide a testing environment it could help :)

[2016-11-23 09:11] drAlberT commented on #67
??
 What info should I get from this forum? Nothing new AFAICS

[2016-11-23 11:17] pretoriano80 commented on #67
That thread just points out that by default Prestashop use 301 redirect when you modify a product url while you said it does not,so clearly Clean URLs module break that functionality .Imho this is an important bug and if it can't be solved at least should be specified in the Read me.

P.S: Don't get me wrong,i understand this is a free module and that you are doing all this for free,so i really ap

[2016-11-23 15:36] drAlberT commented on #67
In this thread it is said a clear thing ..  I don't think I never negate it.

**Prestashop DOES NOT perform a 301 redirect FROM old url to NEW one** ... as there is NO data in the backend DB storing this info

  **BUT**

**It simply argues the right page** the user wants **by the ID** being prefixed!!

In other words, you can say that **PS simply IGNORES the URL part after the ID**, so you can wri

[2016-11-23 15:36] #67 closed

[2016-11-29 16:38] pwnsdx commented on #68
Would be nice indeed :)

Thanks @drAlberT for working on it!

[2016-12-06 19:47] Chrisi1321 commented on #35
Hey!
Would be great if you could work on this issue again.
There is also an issue with your hreflang module, but I will coment this there.

[2016-12-06 20:45] Chrisi1321 commented on #35
Yes, set correctly :)

[2016-12-20 12:33] Chrisi1321 commented on #35
Hey!
Do you have any news already?

[2016-12-20 17:26] drAlberT commented on #35
Hi @Chrisi1321

  I'm sorry, but I have just changed my job and I'm very busy at the moment .. I'll find the time to inspect ASAP .. please be patient :)

[2017-01-08 16:34] rohi222 opened #69 "Not working with Infinite Scroll"
Hi,
Thanks for a nice module. It works well but the issue with the infinite scroll. With pagination on the website it works great but when I use the module as: https://github.com/vmulot/muinfinitescroll
It gives me 404 not found error.

![image](https://cloud.githubusercontent.com/assets/7970001/21751506/4b8761a0-d603-11e6-9fcd-e36f77fd1abf.png)

[2017-01-08 18:28] drAlberT commented on #69
Hi,
  Thanks for reporting.

I have no idea of how that module works, so I need some time to look to its code and investigate.

Will do ASAP

Best regards

[2017-01-08 18:31] rohi222 commented on #69
Hi,

If you want I can share my backend with you. It has both your code and
infinite scroll code. It would be helpful for you to see that way.

Do let me know.

On Mon, Jan 9, 2017 at 2:28 AM, AlberT <notifications@github.com> wrote:

[2017-01-09 15:31] drAlberT commented on #69
Thanks, 1st I'll take a look to the client side .. if needed I'll ask you

[2017-01-10 21:36] drAlberT commented on #69
@rohi222  ..

[2017-01-10 22:12] rohi222 commented on #69
Hi,

Did you check on this? And seen if it creates problem?. I am using version.
1.6.1.10

On Jan 9, 2017 9:01 PM, "AlberT" <notifications@github.com> wrote:

[2017-01-11 05:10] rohi222 commented on #69
Can you please check this URL: http://bit.ly/2iesgMm

Also There is this issue which has been closed now is Issue #44 - The subcategory of subcategory leads to a different category. The solution in the issue already solved the category->subcategory issue but it gives problem with category->sub->sub. The example is: The URL it generates after clicking on the link is this: http://bit.ly/2iDViWN but

[2017-01-12 07:44] drAlberT commented on #69
Can tuo provide tour infinite scroll configuration too?

Regarding other issue please comment directly there, thanks!

[2017-01-12 08:27] rohi222 commented on #69
The settings are as follows:

Content Selector - .product_list
Navigation Selector - .content_sortPagiBar
Next Selector - .pagination_next > a
Item Selector - .product_list > li

Thank You

On Thu, Jan 12, 2017 at 3:44 PM, AlberT <notifications@github.com> wrote:

[2017-01-12 10:53] drAlberT commented on #69
I think it is a `InfiniteScrol`l configuration issue .. IMHO your selectors are wrong.

AFAIK you should:
- prefer IDs over classes when available
- be as much restrictive as possible

Try the following (not tested, play a bit if needed):

- Navigation Selector:  `#pagination`
- Next Selector: `#pagination_nexti > a`
- Item Selector: `.product_list > li`

I'm afraid this will not fix your issue, a

[2017-01-12 11:03] rohi222 commented on #69
Hi,

When I remove clean URL then the pagination works great. I got what you are
saying as it's working fine in manufacturers. So, is there any workaround
with this?

On Jan 12, 2017 4:23 PM, "AlberT" <notifications@github.com> wrote:

[2017-01-12 11:19] drAlberT commented on #69
links are erroneously adding the category path in front of `module/block_layered/...` it should be `/module/block_layered/..` .. donno why
try to put infinite scroll Jquery plugin in debug mode ..

Actually manufacturers has no block_layered .. it's a confirmation then

[2017-01-12 11:34] rohi222 commented on #69
So Shud I turn on debug mode or not or shud I find solution with
blocklayered module author....

On Jan 12, 2017 4:49 PM, "AlberT" <notifications@github.com> wrote:

[2017-01-12 11:47] drAlberT commented on #69
Enable debug. Change [muinfinitescroll.php line 187](https://github.com/vmulot/muinfinitescroll/blob/master/muinfinitescroll.php#L187)

[2017-01-12 11:51] drAlberT commented on #69
what is your SEO & URLs settings ?

[2017-01-12 12:02] rohi222 commented on #69
The setting of SEO is:

[image: Inline image 1]

Turned on the debug mode: on line 187

On Thu, Jan 12, 2017 at 7:51 PM, AlberT <notifications@github.com> wrote:

[2017-01-12 12:49] drAlberT commented on #69
Can't see the image ..

From debug output it seems all right, my idea is something wrong with block_layered ..

[2017-01-12 13:13] rohi222 commented on #69
![image](https://cloud.githubusercontent.com/assets/7970001/21891042/dfd82adc-d90b-11e6-99ea-d9383410c651.png)

Sorry the image is attached again for the setting.

[2017-01-13 06:12] drAlberT commented on #69
Could you try to disable `block_layered` just to confirm?

[2017-01-14 13:30] misthero commented on #44
ok ppl, I got it working with a different approach, unlimited nesting of categories with same name in different base tree like:

man/summer/t-shirt/armani
woman/summer/t-shirt/armani

this is just an example, the category configuration is this: **{categories:/}{rewrite}**

dispatcher:
https://github.com/faktiva/prestashop-clean-urls/pull/71/files

categoryController:
https://github.com/faktiva/pre

[2017-01-14 16:37] misthero commented on #44
.. ehm.. also I would like to point out.. since the category controller repeat the functions in dispatcher, why do we neet it? can't we set $_GET['id_category'] inside dispatcher directly avoiding the second query? am I missing something?

[2017-01-15 15:05] rohi222 commented on #69
Hi,

I tried that but no effect. Its not working in Main Category->Category but
its working in Main Category->Category ->subcategory and also in Main
Category.

On Fri, Jan 13, 2017 at 2:12 PM, AlberT <notifications@github.com> wrote:

[2017-01-22 21:25] drAlberT opened #73 "Make full composer/PS1.7 compatible"

[2017-01-22 21:38] drAlberT commented on #73
Should address #68 too

[2017-01-22 23:51] #68 closed

[2017-01-22 23:51] #73 closed

[2017-01-24 13:43] PrestaShark commented on #35
UP UP UP :)
Experiment
1) Post link URL looks like www.domain.com/blog/5_news.html
2) smartblog/smartblog.php file edited

`'smartblog_post' => array(
                'controller' => 'details',
                'rule' =>       $alias.'/{id_post}_{slug}'.$html,
                'keywords' => array(
                    'id_post' =>    array('regexp' => '[_a-zA-Z0-9-\pL]*', 'param' => 'id_post'),

[2017-01-24 18:19] drAlberT commented on #35
try to pass `id_post` in the **params** array

[2017-01-26 09:57] PrestaShark opened #75 "MySQL server has gone away"
I have this one on clean 1.6.1.11

`[PrestaShopDatabaseException]

MySQL server has gone away

SELECT * FROM `aaaps_product_lang`
            WHERE `link_rewrite`
            IN (SELECT `link_rewrite` FROM `aaaps_product_lang`
            GROUP BY `link_rewrite`, `id_lang`
            HAVING count(`link_rewrite`) > 1)

at line 791 in file classes/db/Db.php

786.         if ($webservice_call && $er

[2017-01-26 10:05] PrestaShark commented on #75
On install, and on config. This is maybe releated with very large products on store. Almost 30k...
Urls works good on Front Office

[2017-01-26 15:46] drAlberT commented on #75
so no issue ,... right? can close?

[2017-01-26 15:50] PrestaShark commented on #75
This only affects Module installation, and configuration in Back Office.
Front Office works good. Just for mention. Can be closed :)

[2017-01-26 15:56] PrestaShark commented on #35
`  'smartblog_post' => array(
                'controller' => 'details',
                'rule' =>       $alias.'/{slug}'.$html,
                'keywords' => array(
                    'slug'       =>   array('regexp' => '[_a-zA-Z0-9-\pL]*')
                ),
                'params' => array(
					'id_post' =>    array('regexp' => '[_a-zA-Z0-9-\pL]*', 'param' => 'id_post'),

[2017-01-26 16:03] drAlberT commented on #75
uhmm ... so you think this module rises an exception on module install/uninstall ?!  If so it can't be closed, of course

[2017-01-26 16:14] drAlberT commented on #35
[code]

[2017-01-27 14:02] PrestaShark commented on #35
@drAlberT Top Notch! Link looks perfect but the content of the news is not loaded - blank container where the news should be shown. I will try investigate this. Thanks!

[2017-01-27 20:49] drAlberT commented on #35
Double check the "URL & SEO" settings .. you should be able to set a custom rule for this path

Blank page should hide a 500 error, inspect your server logs

[2017-01-30 15:58] bestCss01 opened #76 "It doesn't work on PrestaShop 1.7.x"
I try the last Release but don't work for prestashop 1.7.04
any suggestions?
the dev website is http://bestcssaward.x10host.com/prestashop/
Thanks!

[2017-01-30 16:10] drAlberT commented on #76
the previous one is working instead? .. thnks

[2017-01-30 16:12] bestCss01 commented on #76
no, don't work.

[2017-01-30 16:15] drAlberT commented on #76
so .. it seems the module is not working with PS 1.7 at all

I never tested it on PS 1.7 so can't say if it should work or not .. . but is PS 1.7 still allowing overrides? If not it will never work in the form it is thought  nowadays

[2017-01-30 16:15] drAlberT commented on #75
@PrestaShark ping

[2017-01-30 16:23] bestCss01 commented on #76
yes, PS 1.7 allow overrides. I know there are modules that clean url for ps 1.7.04

[2017-02-05 07:29] drAlberT commented on #75
ok got the point.

It seems your DB is disconnecting on a too massive query.

I think this duplicate URIs check should be moved out of the getContent(). I'll implement an on demand check on button press.

Thanks for reporting @prestashark

[2017-02-09 19:13] Fernandomp67 opened #77 "I can't install after I uninstalled it"
Hello. I had to uninstall your module in Prestashop 1.6.1.11 and deleted every file as you explain.

But now I can't install it again. I have this message (perhaps not exactly, because I have it in spanish):
Unable to install with manual control. The method canonicalRedirection in the class FrontController is already overriden by faktiva_cleanurls version 1.2.1

How could I solve this issue?

[2017-02-09 21:48] drAlberT commented on #77
Something is still in the override/* class just remove every reference by hand

[2017-02-10 12:44] Fernandomp67 commented on #77
Sorry! That was easy. I can install it again. But now it isn't working. id still appears in every route at Seo and URL configuration.

[2017-02-14 21:27] xsbr commented on #76
I tested it with PS **v1.7.0.4** and works fine with all kind of URLs, except **Categories** that returns 404

[2017-02-14 22:24] xsbr commented on #76
Some files had folder location changed from PS 1.6 -> 1.7

`.../front/CategoryController.php -> .../front/listing/CategoryController.php
.../front/ManufacturerController.php -> .../front/listing/ManufacturerController.php
.../front/SupplierController.php -> .../front/listing/SupplierController.php`

So during module install PS didn't override this files. I put them manually in **override/controlle

[2017-02-15 10:44] drAlberT commented on #76
@xsbr Great!

Will do ASAP .. Thank you very much!!!

[2017-02-15 22:35] drAlberT commented on #77
You should be able tu uninstall and re-install .. if done cleanly it should be ok ..

If still problems please give more details, otherwise will have to close the issue

[2017-02-16 21:04] Raito00 opened #78 "Error when try to change SEO and URL settings"
When i try to change from: {rewrite}-{id}.html

i get error: Keyword "{id}" required for route "product_rule" (rule: "{category:/}{rewrite}")

PS 1.6.1.11
php 7.0

[2017-02-17 06:25] drAlberT commented on #78
It means the module is not correctly installed, or you have a caching issue

Remove it manually as explained in the readme, assure tutto have not old
overrides, clear every cache and install again

On Thursday, February 16, 2017, Raito00 <notifications@github.com> wrote:

--
Emiliano Gabrielli

[2017-02-17 07:33] Raito00 commented on #78
I already try to clear overrides and cache but the same problem.
Can be some settings problems in nginx or php 7.0 ?

Raito

[2017-02-17 08:20] drAlberT commented on #78
I'm running the module on PHP7 .. no issues .. maybe nginx

If you could provide an access I can take a look ..

[2017-02-17 09:50] Raito00 commented on #78
Yes its looks like Nginx configuration problem ...
Where i can drop Login access to test droplet?

[2017-02-17 10:08] drAlberT commented on #78
??

[2017-02-17 10:17] Raito00 commented on #78
I mean where i can send to You access login information for my server.

[2017-02-17 10:28] drAlberT commented on #78
If you have NGINX issues I can't help .. I can inspect if having PS / module issues but if you moved from standard apache to custom nginx configuration you should be able to handle its config, sorry

[2017-02-17 10:39] Raito00 commented on #78
SOLVED!

It was php configuration. I just replace one my oldest php.ini from backup and now everything working !
Later need to check what causes problem in my php,ini

[2017-02-17 10:45] drAlberT commented on #78
So I can close the issue as invalid ... please find the time to expose what was the problem and the solution here .. just for reference in case other ppl will ever have the same issue :)

Best regards

[2017-02-17 10:45] #78 closed

[2017-02-17 18:32] Fernandomp67 commented on #77
Hello again. I don´t know exactly what happened, but I unninstall it and some other old modules (I am cleaning my shop) and it´s working know.
Great module. Thanks!

[2017-02-17 18:32] #77 closed

[2017-02-18 11:20] Raito00 opened #79 "Problem with manufacturers"
I have problem with manufactures url - 404 error

in SEO i have: manufactures/{rewrite}

PS. 1.6.1.11
php 7.0

[2017-02-18 11:43] drAlberT commented on #79
It should work

Need more info plz

[2017-02-18 11:50] Raito00 commented on #79
Here is test server
https://178.62.21.158

[2017-02-18 12:09] Raito00 commented on #79
it take link from manufacture name not for rewrite link

i check theme manufacturer-list.tpl

`href="{$link->getmanufacturerLink($manufacturer.id_manufacturer, $manufacturer.link_rewrite)|escape:'html':'UTF-8'}"`

there is id_manufacturer why it generate link from name ?

or i`m wrong ...

BR
R

[2017-02-18 12:26] Raito00 commented on #79
List of the manufacurer working
https://178.62.21.158/sv/manufactures

but not working if click on specific manufacturer :(

[2017-02-18 14:07] drAlberT commented on #79
`$link->getmanufacturerLink()` will generate the URL starting from id and link_rewrite .. it is ok

Double check that the Link.php override is installed correctly .. moreover please take a screenshot of your SEO & URLs config

[2017-02-18 15:07] Raito00 commented on #79
I allready deleted all files in override and cache clas-index then install module again. The same problem.
Maybe better You can log in and see all setings in website
I have send to prestashop-seo-tk@faktiva.com all login details

[2017-02-18 15:42] drAlberT commented on #79
Yes .. but not today ;)

[2017-02-19 16:06] drAlberT commented on #79
please set default language to English .. I have some troubles navigating the BO ;)

[2017-02-19 16:08] drAlberT commented on #79
There is another URL cleaner module installed ...

[2017-02-19 18:28] Raito00 commented on #79
Yes i was testing other modules. You can change what You need to check
where is problem

On Sun, Feb 19, 2017 at 5:09 PM, drAlberT <notifications@github.com> wrote:

[2017-02-20 08:14] drAlberT commented on #79
If I change admin language to English I still have SE selected ..

[2017-02-20 09:18] Raito00 commented on #79
I double check there is set English language ..

On Mon, Feb 20, 2017 at 9:14 AM, drAlberT <notifications@github.com> wrote:

[2017-02-23 22:05] mrsof opened #80 "getPaginationLink override conflict"
Hi,
1st, thx for this module.

I tried to install but I faced off this error :
Unable to install override : method getPaginationLink in class Link is already overriden.

PS 1.6.1.11
Custom Theme

[2017-02-24 07:30] drAlberT commented on #80
Another module you installed have already overridden the same functionalities .. module **not in the core** distribution

[2017-02-24 07:32] drAlberT commented on #79
It looks working to me now .. can you check plz?

[2017-02-24 13:27] Raito00 commented on #79
No!
manufacturers still 404 error

[2017-02-24 15:49] drAlberT commented on #80
please gimme details, if confirmed I'll close

[2017-02-24 16:11] drAlberT commented on #79
I have no access to this section on the BO .. need to check it

[2017-02-24 16:27] Raito00 commented on #79
Try now

On Fri, Feb 24, 2017 at 5:11 PM, drAlberT <notifications@github.com> wrote:

[2017-02-25 08:16] mrsof commented on #80
As I said before it's a custom theme so there is certainly a confilct with modules. I'll post an issue to the developer's module support but for now I don't have more details.

[2017-02-26 18:31] drAlberT commented on #80
You can take a look to the overrides/ dir and find the Link.php file ..

[2017-03-04 10:38] drAlberT commented on #80
Any news?

[2017-03-04 19:25] mrsof commented on #80
I deleted overrides/Link.php file. Then install worked well.

[2017-03-04 19:25] #80 closed

[2017-03-06 14:09] drAlberT opened #81 "[Insight] The composer.lock is not up to date. - in composer.lock, line 0"
**[in composer.lock](https://github.com/faktiva/prestashop-clean-urls/blob/901b9d59d6d47e4818267285e76f7d8f42d10008/composer.lock#L0)**

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/58d1de4f-45fc-4f63-aeb3-7ddc51d4a64e/analyses/27)_

[2017-03-06 14:13] #81 closed

[2017-03-20 12:24] FelicianoBV opened #82 "Support nested categories"
Support parent's categories in product's url like http://site.com/parent-category/child-category/.../rewrite/

[2017-03-20 13:38] FelicianoBV commented on #82
replace {category:/} with {categories:/}

[2017-03-20 13:38] #82 closed

[2017-04-13 13:46] Nermendis opened #83 "CMS route and Product route bug"
Find rewrite link is not working properly.

Because the cms route: info/{rewrite}
Product : {category:/}{rewrite}

Cms rewrite url and Product url is same, but the route not.
Not examine the route.

Because the isProductLink() and the isCmsLink() is true, but the isProductLink() first.
Dispatcher 289. row
if function wrong

[2017-04-13 14:03] drAlberT commented on #83
Sorry but I'm not understanding ... can you be more detailed/specific plz ?

[2017-04-13 14:12] Nermendis commented on #83
If the cms page and product rewrite is same, the dispatcher return the product route because is first in 289.row.

that is, it does not examine the route matches
product route = /en/{category}/test-url
cms rout = /en/info/test-url

Redirect the product url.

[2017-04-13 14:42] Nermendis commented on #83
isProductLink function

$short_link = /info/test-url
$regexp = #^/(([_a-zA-Z0-9\pL-]*)/)??(?P<product_rewrite>[_a-zA-Z0-9\pL\pS-]*)$#uU

preg_match($regexp, $short_link, $kw);
$kw['product_rewrite'] = 'test-url'
return product id = 1

But the 'info' in the short_link, is not category.

[2017-04-13 17:16] drAlberT commented on #83
got the point, will inspect ASAP.

Thanks for reporting

[2017-04-17 11:08] hoodiegamerss opened #84 "Url rewrite not working same product name problem"
Hello,

I have a problem with same name products.

https://www.mydomain.com/red-car-1
https://www.mydomain.com/red-car-2

my product url is {rewrite}-{id}

when I click the www.mydomain.com/red-car-2 it gives an error like;

[Debug] This page has moved
Please use the following URL instead: https://www.mydomain.com/red-car-1

But those 2 product is different just their name is same.

Prestashop ver

[2017-04-17 17:19] drAlberT commented on #84
if you need to use the ID in your URL you don't need this module .. Am I wrong?  Possibly give a real live example to navigate to and see the issue

[2017-04-17 17:23] hoodiegamerss commented on #84
I just want to use it for categories and cms pages. Not for products.

[2017-04-18 07:59] hoodiegamerss commented on #84
For example this two product have a same name with different ID numbers
https://www.eurodiamond.com/051-karat-tektas-pirlanta-yuzuk-14

https://www.eurodiamond.com/051-karat-tektas-pirlanta-yuzuk-26
when i click to this product it gives an error like
[Debug] This page has moved
Please use the following URL instead: https://www.eurodiamond.com/051-karat-tektas-pirlanta-yuzuk-14

[2017-04-18 16:56] drAlberT commented on #84
ok, got the point .. will inspect ASAP. Thanks for reporting

[2017-04-19 13:43] hoodiegamerss commented on #84
Module does not read the ID of the products. I have 300 products. I'm in trouble right now :(

[2017-04-19 15:48] drAlberT commented on #84
uninstall this module and your IDs will be read :)

[2017-04-19 15:50] hoodiegamerss commented on #84
I uninstalled nothing has changed

[2017-04-19 19:31] drAlberT commented on #84
cache cleared?

[2017-04-19 19:42] hoodiegamerss commented on #84
Yes cleared. Your module is not working for products which have same name also with ID.

[2017-04-19 19:44] drAlberT commented on #84
I got this .. but you are saying you have troubles even if you uninstall the module ...

[2017-04-19 19:47] hoodiegamerss commented on #84
Yes I have trouble. I dont know what should I do now. I bought Pretty Urls but still can not access my products.

[2017-04-22 11:58] francesco-carrella commented on #68
Prestashop 1.7 is the current stable version, it would be really nice to have it working

About the bugs I found:

- Category Page isn't working and redirect to:

- Product page url contains a ?id_product_attribute=...  like:
http://eurekalabels.com.local/fr/home/faded-short-sleeves-tshirt?id_product_attribute=1#/1-size-s/13-color-orange

Into Poduct page the switching between product variant is u

[2017-04-22 16:08] francesco-carrella commented on #76
Prestashop 1.7 is the current stable version, it would be really nice to have it working

About the bugs I found:

Category Page isn't working and redirect to:

Product page url contains a ?id_product_attribute=... like:
http://localhost/home/faded-short-sleeves-tshirt?id_product_attribute=1#/1-size-s/13-color-orange

Into Product page the switching between product variant is not woking

[2017-04-23 12:16] drAlberT commented on #68
Hi Francesco,
  Unfortunately this module has been developed to support our own
Prestashop installation, which is still running PS 1.6

As you can see we release this module free of charge, we are not making
business with it .. this doesn't mean we will not support PS 1.7, but it
means we can't assure support on versions we doesn't use because we are not
payed for this.

I'm sorry, but I'll try to

[2017-04-24 14:03] drAlberT commented on #76
Hi @francesco-carrella,
  Unfortunately this module has been developed to support our own
Prestashop installation, which is still running PS 1.6

As you can see we release this module free of charge, we are not making
business with it .. this doesn't mean we will not support PS 1.7, but it
means we can't assure support on versions we doesn't use because we are not
payed for this.

I'm sorry, but I

[2017-05-18 12:39] hubba1987 opened #85 "Keyword "{id}" is still required"
Hello,

After module installation I go to "SEO and URLs" and try to edit settings like described here, but I'm still getting:
Keyword "{id}" required for route "product_rule" (rule: "{category:/}{rewrite}.html")

Thank you.

[2017-05-18 15:41] drAlberT commented on #85
for some reason the module is not working for you .. try cleaning every cache

[2017-05-23 16:03] drAlberT commented on #85
@hubba1987 any news ?

[2017-05-24 08:43] hubba1987 commented on #85
Cleaning cache didn't help ((

[2017-05-24 09:14] drAlberT commented on #85
Please give more details.

OS, PS version, other overriding modules installed, a screenshot of your PS configuration for SEO/URL and other pertinent sections  .. as many info you give as easier I'll be able to help you

[2017-05-24 10:42] hubba1987 commented on #85
Maybe the root cause is PHP version? I have 5.4.13

Sorry, interface in russian, but I think all is understandable.
Info:
![image](https://cloud.githubusercontent.com/assets/20992476/26399678/7bb0fa4c-4086-11e7-9227-42d39ff841de.png)

![image](https://cloud.githubusercontent.com/assets/20992476/26399716/b133ab10-4086-11e7-96aa-2d7675d1c14a.png)

![image](https://cloud.githubusercontent.com/assets/

[2017-05-24 10:47] drAlberT commented on #85
Is the module correctly installed too? .. add a SS of the modules page plz

Moreover, if it is a PHP version issue you should find some error in your server logs ..

[2017-05-24 10:52] hubba1987 commented on #85
Modules.
All others under this are standard modules.
![image](https://cloud.githubusercontent.com/assets/20992476/26400141/43bbbc38-4088-11e7-976e-b418ec4f69bf.png)

[2017-05-24 11:10] drAlberT commented on #85
You have another module for the same task already installed !  "Clean URLs" .. remove it, remove mine, clear caches, reinstall mine

Hopefully should work ;)

[2017-05-24 11:22] hubba1987 commented on #85
It didn't help (

Anyway, thank you for your help!
I believe search engines will re-index my site soon and I'll be ok with URLs containing ids

[2017-05-24 12:59] drAlberT commented on #85
It has to work .. you have for sure some issue in your overrides ..  you should check your overrids dir and remove anything remained pending from old modules

[2017-05-24 13:17] hubba1987 commented on #85
Ou!
It started to work after I deleted /cache/class_index.php as mentioned in /override/override_readme.txt

I think you should put this information in README.md

[2017-05-24 16:28] drAlberT commented on #85
this is a "standard" issue resolution for PS ;)  good to know you are ok now.

Best regards

[2017-05-24 16:28] #85 closed

[2017-06-05 05:52] Alexezi commented on #51
unfortunately not working for me :-( BO say: module uploaded successfully but I cant see it listed. In what name it shows up in Module section?

[2017-06-05 07:34] drAlberT commented on #51
search for "faktiva" .. be sure you are not filtering modules somehow .. it could had been uploaded but not   installed as per the [comment above](https://github.com/faktiva/prestashop-clean-urls/issues/51#issuecomment-214331878).

[2017-06-08 20:35] drAlberT commented on #51
@Alexezi news?

[2017-06-09 00:27] Alexezi commented on #51
problem solved! Ive downloaded wrong version.

[2017-06-09 08:16] drAlberT commented on #35
@PrestaShark any feedback?

[2017-06-13 07:42] apppsitsolution opened #86 "Suppliers problem: supplier with special caracters (% or +) don't works"
HI,
I'am testing your module and it works fine. I have only a prblem with suppliers named with special caracters like % or +. Ex. "40 % Fashion Supplier" or "40+ fashion Supplier"
the url generated is prestashop/40-fashion-supplier but doesn't work (error 404).
can you help me?
thanks in advanced

[2017-06-13 10:18] drAlberT commented on #86
Hi @apppsitsolution,
  thanks for reporting.
It seems to be a issue with special chars in the slug .. will inspect ASAP.

Thanks

[2017-06-28 14:43] PrestaShark commented on #35
Still without success ;)

[2017-07-17 12:18] maxclee commented on #79
Hi, please explain what was wrong , I have the same problem  ...
thanks

[2017-07-17 20:43] maxclee commented on #79
Hi, thanks for answer
I have no other url cleaner >

[2017-07-18 06:04] maxclee commented on #79
@drAlberT I have installed last Faktiva Clean URLs v1.2.2
What more can cause problems with manufactures links?

[2017-07-18 20:28] drAlberT commented on #79
I don't know. I should have some way to take a look ..

[2017-07-19 20:09] baextroem commented on #76
Any news on fixing this for PS 1.7? I've tried with the trix that @xsbr wrote. This does not work for me thou. I use PrestaShop version: 1.7.1.2

Anyone?

[2017-07-20 16:34] TecnoHands opened #87 "Errors in prestashop 1.7.2 RC 1"
Hi, I try config in the new prestashop release candidate, but i cant config ok.

In the product link display this
http://localhost/prestashop/es/prueba/producto1?id_product_attribute=0

in the cms category I config only {rewrite} and work ok.
but cant config category, and products url

[2017-07-21 08:21] prestashoplaurent opened #88 "Not working With Same URL Products in disabled categories"
Hello,

I tried to install your module on Prestashop 1.6.1.15 the both ways :
1) from the module page I added the module, it loaded and then the module cannot be found
2) I uploaded manually into the modules directory and then the module cannot be found from the module page

In the module page I display all modules, your module is not showing so cannot be installed.

[2017-07-21 17:24] drAlberT commented on #88
Can't help with this info .. Had a look to your PHP logs? .. I need some debugging info otherwise it's impossible to help

[2017-07-21 17:25] drAlberT commented on #87
PS 1.7.x is not supported for now

[2017-07-21 18:11] prestashoplaurent commented on #88
The module cannot be installed, it's just like if you upload a non installable file.

no error is generated in my log + no error is displayed

I set in the config file debug mode to TRUE but there is no error

For your reference here is a video https://youtu.be/twG0Q9NQS_Q

also I tried on 4 different Prestashop installs and it's the same thing, the module cannot be installed.

[2017-07-21 18:30] prestashoplaurent commented on #88
Also not working with Prestashop 1.6.1.14 just tried on a fresh install. - I guess it's not working with all 1.6.1.x

[2017-07-22 11:50] drAlberT commented on #88
no, it is online on my shop on PS 1.6.1.13

[2017-07-22 11:52] drAlberT commented on #88
You are strong to install an export of the master branch.

You have to download the release file, not the master

[2017-07-22 16:24] prestashoplaurent commented on #88
You are right, my apology.

Installation is working then the module find some products with the same URL (which is not true because it's inside different category so the URL is not the same) + the products are inside disabled category so the products cannot be seen in the front end. I don't want to delete those products, I need them

I cannot use the module in this way. Each time I try to remove t

[2017-07-23 06:55] prestashoplaurent opened #89 "Thousands of duplicated products - 2 causes"
Hello,

Your module has a great potential, so far I cannot use it because if finds duplicated URLs which is true.

1) I have some template of products with same URL which are in disabled categories only, so not visible in the front end - I cannot delete or edit the url of those products I need them

2) In my huge site let say I have 400 accessories for iPhone 7 and 400 accessories for iphone 7+
I

[2017-07-23 06:55] #88 closed

[2017-07-23 13:12] #87 closed

[2017-09-23 19:31] Detys opened #90 "Problem with product Combinations (PS1.7.x)"
Hello,

I'm on Prestashop 1.7.1.2 using CleanUrls release 1.2.2
Here is my problem.
The link generated is correct

/en/resins/wanhao-uv-resin?id_product_attribute=1064#/11-color-black
however (after turning debug on) it is redirected to the default combination
/en/resins/wanhao-uv-resin?id_product_attribute=879

After that clicking on any combination just ignores the selection and adds the '#attri

[2017-09-26 09:41] drAlberT commented on #90
As said PS 1.7 is not supported, sorry

[2017-10-05 07:29] egulfam opened #91 "Category URL gives 404 error in PS 1.7.2.2"
I have installed the module in Prestashop 1.7.2.2. Everything seems to work except category URLs which return 404 error. How can I fix it?

[2017-10-05 10:07] drAlberT commented on #91
As said, this module isn't intended to run on PS 1.7 .. sorry

[2017-10-05 10:07] #91 closed

[2017-10-06 09:37] medrockstar opened #92 "Error 500"
Hi,

I have a shop with 2500 products.
When et I want to configure my plugin I get error 500 after a while.

Tks,

[2017-10-06 09:40] medrockstar commented on #92
I also had this   :
Strict Standards: Declaration of Link::getCategoryLink() should be compatible with LinkCore::getCategoryLink($category, $alias = NULL, $id_lang = NULL, $selected_filters = NULL, $id_shop = NULL, $relative_protocol = false) in override/classes/Link.php on line 154

[2017-10-06 22:16] drAlberT commented on #92
Thanks for reporting.

As a workaround you can avoid E_STRICT error level in your PHP configuration

[2017-10-16 01:39] xD3VHAX commented on #76
Tested and works with **PS 1.7.2.3**

[2017-10-16 06:54] drAlberT commented on #76
@xD3VHAX  It Works as is or you are talking about the proposed "trick" ? .. thanks for reporting.

[2017-10-17 17:03] SimmacoMe opened #93 "Problem with ps 1.7.2.2"
when i try to config module i sow this
![cattura](https://user-images.githubusercontent.com/32878947/31678209-b12cc444-b36d-11e7-86f7-02effdd05ac1.PNG)
how can i fix this problem? i deleted all file in module description

[2017-10-17 17:42] drAlberT commented on #93
It should be only a warning .. it is trying to check if you have duplicated routes .. donno why values are empty anyway

[2017-10-17 17:42] drAlberT commented on #93
The module ha no parameter to be configure, it should be safe to just ignore it

[2017-10-17 17:48] SimmacoMe commented on #93
i can't press anything thera are 565 problem

[2017-10-17 17:50] SimmacoMe commented on #93
who is the file how drow the product url?

[2017-10-17 17:53] SimmacoMe commented on #93
this is my override folder
![cattura](https://user-images.githubusercontent.com/32878947/31680488-bd798460-b374-11e7-9cae-0fe35d71bbf6.PNG)
i think i have problem right?

[2017-10-17 17:54] drAlberT commented on #93
you have multiple languages / shops using the same URL in different scopes for the same product.
You have nothing to press .. simply go ahead and leave the module page (click on the menù and go away)...

Are you experiencing some other "real" issue making you think you are in trouble?

[2017-10-18 07:37] SimmacoMe commented on #93
i don't understend how can i fix this problem. in my shops are installed 2 language but the english are disable. i have disable all url module (seo and yours) and i sow discrepancy from product path and result see
![cattura2](https://user-images.githubusercontent.com/32878947/31706019-c848b604-b3e7-11e7-9e02-6b4f1f4804bb.jpg)
this image
I think that some file ( genereting product path) are corrupt

[2017-10-18 14:53] SimmacoMe commented on #93
what do you think about this set?
![cattura](https://user-images.githubusercontent.com/32878947/31725557-eeeae16e-b424-11e7-852c-6b0147b77839.PNG)

[2017-10-19 10:07] MaxL commented on #76
i think @xD3VHAX hasn't tested with product variants since these still not work. Module only works if you don't use product variants.

[2017-10-19 10:31] xD3VHAX commented on #76
Yes sorry does'nt work if product variants is enable.

[2017-10-19 16:48] drAlberT commented on #76
Uhmm ok thanks guys ..

Can you confirm it would be fixed moving overrides as per https://github.com/faktiva/prestashop-clean-urls/issues/76#issuecomment-279855827 ?

[2017-10-19 16:51] xD3VHAX commented on #76
@drAlberT  No this trick fix only direct access to products but not product variants issue

[2017-10-19 17:09] drAlberT commented on #76
uhmm so .. the simple answer is "**this module is not supported on PS 1.7.x**" :)

BTW, both the config and the `.php` main file state a version constraint against Prestashop .. how is it possible it is installed? Any idea? I have no PS 1.7 install for checking

[2017-10-20 07:19] MaxL commented on #76
the max constraint is `'max' => _PS_VERSION_`, ;)

[2017-10-20 07:53] drAlberT commented on #76
@MaxL my bad .. I set the correct check on master (https://github.com/faktiva/prestashop-clean-urls/blob/master/faktiva_cleanurls.php#L41) but forgot to release it.

Going to release right now

[2017-10-20 09:08] drAlberT commented on #76
@MaxL done

[2017-10-20 09:08] #76 closed

[2017-10-20 09:12] #93 closed

[2017-10-20 09:16] #90 closed

[2017-11-27 19:22] vinicoder commented on #54
Any prevision to solve this? I want too

[2017-12-07 22:37] marcixargh opened #95 "Module Fabulous but No Products shown under subcategory"
Hello everybody,

First of all I have to thank you for this module. it works great!
The only think is that now if i access the products through the main category --> sub-category --> product i can not find it . They are gone.

On the other side, if I put in the product specific url in the browser , it finds the product. How can I solve this or why is it so ?

Thank you a lot and all the best,

Mar

[2017-12-12 17:40] drAlberT commented on #95
Hi,
 plz provide more info on your configuration and Seo/Url settings

[2017-12-29 07:23] grafiqer opened #96 "Cms pages does not exist"
This module it works great, thanks. But all cms pages "This page does not exist" error.
Simple: www.sarsana.com/bilgi/hakkimizda

[2017-12-30 20:50] drAlberT commented on #96
More info plz

[2018-01-09 14:07] TheLuckyL opened #97 "Doesn't work with nginx"
Hi,

I installed this module and configurated your "MANDATORY" directions but when I open Friendly Url I got 404 msg for product details or etc.

I dont use apache for web service because performance differences. If there is any solution or direction for nginx I can apply on my server.

Btw I use Ubuntu 16.04 Nginx + php-fpm and I added my config page ss.

![1](https://user-images.githubuserconten

[2018-01-09 18:01] drAlberT commented on #97
Can't help without the nginx configuration

[2018-01-09 22:32] TheLuckyL commented on #97
This is my nginx conf:

[code]
[code]

[code]

[code]

Is there enough or you need another?

[2018-01-09 23:39] drAlberT commented on #97
As you ported rewrites to nginx you have also to accommodate the matches to the new pattern you are defining by means of this module ...

The problem is in the rewrites section, which is not matching anymore after url rewriting

Not a module or ps issue, this is why for PS I prefer to use nginx as a caching proxy in front of apache.

Hope this helps you.

[2018-02-03 15:12] #97 closed

[2018-02-03 15:13] drAlberT commented on #95
@marcixargh ping

[2018-02-28 03:38] Alexezi opened #98 "Not working on PS 1.6.1.18"
not working on 1.6.1.18 , at least not for me. I worked fine on 1.6.1.12 , then I made an upgrade. Before upgrade I turned uninstalled the module.

Then I install back on again  ( latest version 1.2.3 ) and whatever I do ..clear cash , save  , friendly URL on/off ...all that according the manual ( Ive done it before on last version so haven't missed anything). Still not working. It's not overridin

[2018-02-28 16:20] drAlberT commented on #98
looks like the module install hasn't gone right ..   you could have something usefull in your PHP logs

[2018-03-01 17:05] feliperuizweb commented on #98
I had the same problem with version 1.6.1.18 at the moment I will save the rules of url the prestashop displayed the error alert saying "Keyword "{id}" required for route"

My php log did not generate any errors, and I did the installation of the module according to the documentation here in Git

[2018-03-01 21:34] Alexezi commented on #98
I uninstalled the module., delete it completely out.
Advance Parameters - Performance section :  cleared cash , allow override (debug mode ) , recompile templates if file has been changed  .
upload back the module.
When tried to install it gave an error saying its there already so cleared cash again, then install OK.
After all this I can freely rewrite lines in Routes. (URL&SEO section ) and goes

[2018-03-02 06:40] feliperuizweb commented on #98
I followed what was said above did the cache cleaning but what came out effect was disable the option that disables all the overrides, after that worked perfectly!

[2018-03-02 09:19] drAlberT commented on #98
great job guys .. so the issue is that PS update was disabling overrides ???

[2018-03-03 01:24] Alexezi commented on #98
yep, seem like.
The disabling overrides  and clear cash is better be done even before the installation of the module.

[2018-03-18 18:00] demeldoo opened #99 "checkout not working"
hello, i belive the checkout is not working at all

[2018-03-18 18:01] demeldoo commented on #99
when you come to the end of checkout and press payment method then the module is not loaded...empty page

[2018-03-26 08:03] drAlberT commented on #99
What PS version? Provide more info plz

[2018-03-26 08:04] #98 closed

[2018-03-26 08:05] #95 closed

[2018-05-15 13:48] kttmnn commented on #96
hi,

thank you for your fast reply and your help.

`HTTP/1.1 404 Not Found
Date: Tue, 15 May 2018 13:46:42 GMT
Server: Apache
P3P: CP="IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA"
Powered-By: PrestaShop
Set-Cookie: PrestaShop-ef2386e7cc4efc34e6dbbec84bd8044b=irJscaAholAAPnxLJGy9OXu0r9T0ei%2FdDe3BfYYtT7kyYR3pMkmGOxID09ao4PRgi660m0ToK8joOGFK9m995bxWDmDwTBGIXR10f4BCDz2x2SR%2FIVJT%2BBkfmjwxySmk8ZCVN

[2018-05-16 11:00] cypispga commented on #86
adding REPLACE in sql fix temporarily problem for me

$sql = 'SELECT sp.`id_supplier`
            FROM `'._DB_PREFIX_.'supplier` sp
            LEFT JOIN `'._DB_PREFIX_.'supplier_shop` s ON (sp.`id_supplier` = s.`id_supplier`)
            WHERE
             REPLACE(REPLACE(REPLACE( LOWER(sp.`name`), "+",""), "%",""), "&","")
            LIKE \''.pSQL($supplier).'\'';

i think better will be add sl

[2018-05-16 19:08] drAlberT commented on #96
Uhm this looks to be a 404 ..

[2018-05-29 07:19] kttmnn commented on #96
Yes, but Prestashop doesn't show the 404 default page. I see a normal CMS page, but where the content should be, there is the message "This page does not exist". So the system thinks it's a CMS site. However, the content is not output.

[2018-06-07 18:27] Italyya opened #101 "Impossible to install module"
Hello, excuse me for my english im french..
I attemps to install by backend and manually but the module is never listed in the module list.
If i upload by the backend, see succes download but no folder in module.
If i upload manually the module is not listed in backed..
I test in 2 prestashop
1.6.1.11 and 1.6.1.18

Thanks to help me

[2018-06-13 13:04] drAlberT commented on #101
what package you are trying to install precisely?

[2018-06-15 13:51] metacreo opened #102 "php error on order return"
`Warning: substr() expects parameter 1 to be string, array given in /var/sites/test/www/override/classes/controller/FrontController.php on line 37`

How to reproduce:

As customer go to "my orders"
Click details and choose product to return.
DO NOT "provide an explanation for the return" and click "make RMA"

PS 1.6.1.19

[2018-06-19 22:04] drAlberT commented on #102
thanks for reporting

[2018-09-13 12:17] hdkcreative commented on #35
hi !   any solution?

[2018-11-13 13:11] #99 closed